@import '../../../../styles/tokens.css';

.ViewSwitcherMenuBar {
  display: flex;
  gap: var(--space-1);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  padding: var(--space-1);
}

.ViewSwitcherMenuPositioner {
  z-index: 3;
}

.ViewSwitcherMenuPopup {
  min-width: 190px;
  padding: var(--space-2);
  border-radius: var(--radius-4);
  background-color: var(--surface);
  outline: 1px solid var(--border-color);
  box-shadow: var(--shadow-5);
}

.ViewSwitcherRadioGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.joy .ViewSwitcherMainItem {
  background: var(--surface);
  user-select: none;
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-3);
  font-size: inherit;
  line-height: inherit;
}

.ViewSwitcherMainItem[data-view='other'] {
  padding-inline-end: var(--space-2);
}

.ViewSwitcherRadioItem {
  z-index: 3;
  cursor: pointer;
  user-select: none;
  padding: var(--space-2) var(--space-3);
  font-size: inherit;
  line-height: inherit;
  border-radius: var(--radius-3);
}

/* Hovered */
.ViewSwitcherMainItem:hover,
.ViewSwitcherRadioItem:hover {
  background: var(--interactive-hover-bg);
}

/* Active */
.ViewSwitcherMainItem:active,
.ViewSwitcherRadioItem:active {
  background: var(--interactive-active-bg);
}

/* Selected */
.ViewSwitcherMainItem[data-highlighted],
.ViewSwitcherMainItem[data-pressed],
.ViewSwitcherRadioItem[data-checked] {
  background: var(--interactive-selected-bg);
  color: var(--interactive-selected-text);
}

/* Selected and hovered */
.ViewSwitcherMainItem[data-highlighted]:hover,
.ViewSwitcherMainItem[data-pressed]:hover,
.ViewSwitcherRadioItem[data-checked]:hover {
  background: var(--interactive-selected-hover-bg);
}

/* Focused */
.ViewSwitcherMainItem:focus-visible,
.ViewSwitcherRadioItem:focus-visible {
  background: var(--interactive-focused-bg);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Focused and hovered */
.ViewSwitcherMainItem:focus-visible:hover,
.ViewSwitcherRadioItem:focus-visible:hover {
  background: var(--interactive-focused-hover-bg);
}

/* Active and focused */
.ViewSwitcherMainItem:active:focus-visible,
.ViewSwitcherRadioItem:active:focus-visible {
  background: var(--interactive-active-focused-bg);
}

/* Selected and focused */
.ViewSwitcherMainItem[data-highlighted]:focus-visible,
.ViewSwitcherMainItem[data-pressed]:focus-visible,
.ViewSwitcherRadioItem[data-checked]:focus-visible {
  background: var(--interactive-selected-focused-bg);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Selected and hovered and focused */
.ViewSwitcherMainItem[data-highlighted]:focus-visible:hover,
.ViewSwitcherMainItem[data-pressed]:focus-visible:hover,
.ViewSwitcherRadioItem[data-checked]:focus-visible:hover {
  background: var(--interactive-selected-hover-focused-bg);
}
