.EventCard {
  border-radius: var(--radius-4);
  background-color: var(--event-background);

  &[data-moving] {
    opacity: 0.5;
  }
}

.EventTitle {
  margin: 0;
  color: var(--event-primary-text);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.EventTime {
  color: var(--event-secondary-text);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.EventCard--regular {
  position: absolute;
  left: 2px;
  right: var(--space-3);
  top: var(--y-position);
  bottom: calc(100% - var(--y-position) - var(--height));
  z-index: 2;
  padding: var(--space-1) var(--space-3);
}

.EventCard--regular.UnderHourEventCard {
  display: flex;
  align-items: center;
  line-height: 1;
  color: var(--event-secondary-text);
}

.UnderHourEventCard {
  margin: 0.5px 0;
}

.UnderHourEvent .EventTitle {
  margin-inline-end: var(--space-1);
  white-space: nowrap;
}

.Under30MinutesEvent {
  line-height: 0;
}

.Under30MinutesEvent .EventTitle {
  font-size: var(--font-size-1);
  line-height: 10px;
}

.Under30MinutesEvent .EventTime {
  font-size: 10px;
  line-height: 10px;
}

.EventCard:focus-visible {
  outline: 2px solid var(--event-color-5);
  outline-offset: var(--outline-focus-offset);
}

.EventCard[role='button'] {
  cursor: pointer;
}

.EventCard--regular::before {
  content: '';
  position: absolute;
  top: var(--space-2);
  left: 0;
  width: 3px;
  height: min(38px, calc(100% - calc(var(--space-2) * 2)));
  border-radius: var(--radius-1);
  background: var(--regular-line-bg);
  pointer-events: none;
}
