.EventContainer {
  /* Regular */
  --regular-accepted-bg: var(--event-color-3);
  --regular-line-bg: var(--event-color-12);
  --regular-accepted-primary-text: var(--event-color-12);
  --regular-accepted-secondary-text: var(--event-color-11);

  /* Compact */
  --compact-accepted-bg: var(--surface);
  --compact-square-bg: var(--event-color-12);
  --compact-accepted-primary-text: var(--event-color-12);
  --compact-accepted-secondary-text: var(--event-color-12);

  /* All Day */
  --allDay-accepted-bg: var(--event-color-5);
  --allDay-accepted-primary-text: var(--event-color-13);
}

.mode-dark .EventContainer {
  --regular-accepted-bg: var(--event-color-3);
  --compact-accepted-bg: var(--surface);
  --allDay-accepted-bg: var(--event-color-5);
}

.EventCard {
  border-radius: var(--radius-4);
  background-color: var(--event-background);
}

.EventTitle {
  margin: 0;
  color: var(--event-primary-text);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.EventTime {
  color: var(--event-secondary-text);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.EventCard--regular {
  position: absolute;
  left: 2px;
  right: var(--space-3);
  top: var(--y-position);
  bottom: calc(100% - var(--y-position) - var(--height));
  z-index: 2;

  padding: var(--space-1) var(--space-3);
  --event-background: var(--regular-accepted-bg);
  --event-primary-text: var(--regular-accepted-primary-text);
  --event-secondary-text: var(--regular-accepted-secondary-text);
}

.EventCard--regular.UnderHourEventCard {
  display: flex;
  align-items: center;
  line-height: 1;
  color: var(--event-secondary-text);
}

.UnderHourEventCard {
  margin: 0.5px 0;
}

.UnderHourEvent .EventTitle {
  margin-inline-end: var(--space-1);
  white-space: nowrap;
}

.Under30MinutesEvent {
  line-height: 0;
}

.Under30MinutesEvent .EventTitle {
  font-size: var(--font-size-1);
  line-height: 10px;
}

.Under30MinutesEvent .EventTime {
  font-size: 10px;
  line-height: 10px;
}

.EventCard:focus-visible {
  outline: 2px solid var(--event-color-5);
  outline-offset: var(--outline-focus-offset);
}

.EventCard[role='button'] {
  cursor: pointer;
}

.EventCard--regular::before {
  content: '';
  position: absolute;
  top: var(--space-2);
  left: 0;
  width: 3px;
  height: min(38px, calc(100% - calc(var(--space-2) * 2)));
  border-radius: var(--radius-1);
  background: var(--regular-line-bg);
  pointer-events: none;
}

.EventCard--compact {
  --event-background: var(--compact-accepted-bg);
  --event-primary-text: var(--compact-accepted-primary-text);
  --event-secondary-text: var(--compact-accepted-secondary-text);

  position: relative;
  display: flex;
  gap: var(--space-1);
  padding: var(--space-1) 0 var(--space-1) var(--space-4);
}

.EventCard--compact::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: var(--space-2);
  height: var(--space-2);
  border-radius: var(--radius-1);
  border: 1px solid var(--compact-square-bg);
  background-color: var(--compact-square-bg);
}

.EventCard--compact .EventTime {
  flex-shrink: 0;
  opacity: 0.7;
}

.EventCard--allDay {
  --event-background: var(--allDay-accepted-bg);
  --event-primary-text: var(--allDay-accepted-primary-text);
}
