.EventContainer {
  /* Regular */
  --regular-accepted-bg: var(--event-color-3);
  --regular-line-bg: var(--event-color-12);
  --regular-accepted-primary-text: var(--event-color-12);
  --regular-accepted-secondary-text: var(--event-color-11);

  /* Compact */
  --compact-accepted-bg: transparent;
  --compact-circle-bg: var(--event-color-9);

  /* Multi Day */
  --filled-accepted-bg: var(--event-color-5);
  --filled-accepted-primary-text: var(--event-color-12);
}

.EventCard--regular {
  --event-background: var(--regular-accepted-bg);
  --event-primary-text: var(--regular-accepted-primary-text);
  --event-secondary-text: var(--regular-accepted-secondary-text);
}

.EventCard--compact {
  --event-background: var(--compact-accepted-bg);
  --event-primary-text: var(--default-text-color);
  --event-secondary-text: var(--secondary-text-color);
}

.EventCard--filled,
.EventCard--placeholder {
  --event-background: var(--filled-accepted-bg);
  --event-primary-text: var(--filled-accepted-primary-text);
}

.EventRecurringIcon {
  position: absolute;
  bottom: 3px;
  right: 3px;
  color: var(--event-secondary-text);
}
