packages/x-charts* @JCQuintas @alexfauquette @bernardobelchior
docs/data/charts @JCQuintas @alexfauquette @bernardobelchior @prakhargupta1
CHANGELOG.md @michelengelen @flaviendelangle @rita-codes @noraleonte @JCQuintas @alexfauquette @bernardobelchior @arminmeh @MBilalShafi @cherniavskii @mui/infra
