/.git
pnpm-lock.yaml
netlify/functions
/docs/.next
/docs/export
/docs/pages/playground/
/lerna.json
/packages/x-codemod/src/**/*.spec.js
/packages/x-charts-vendor
build
/coverage
CHANGELOG.md
dist
node_modules
.nyc_output

# These come from crowdin.
# If we would commit changes crowdin would immediately try to revert.
# If we want to format these files we'd need to do it in crowdin
docs/**/*-pt.md
docs/**/*-zh.md
