/.git
/docs/.next
/docs/export
/packages/demo-app/public/static-data
/packages/grid/lib/lodash
/packages/grid/x-grid-modules/lib/autosizer
/packages/grid/x-grid-modules/lib/lodash
CHANGELOG.md
dist
node_modules
