# The best pattern to follow is ignoring editor files in a global .gitignore configuration file.
# However, in order to prevent issues, editor files are ignored here.
.idea
.vscode

__diff_output__
.DS_STORE
*.log
*.tsbuildinfo
/.eslintcache
/.nyc_output
/coverage
/docs/.next
/docs/pages/playground/*
!/docs/pages/playground/tsconfig.json
/docs/.env.local
/docs/export
/test/regressions/screenshots
build
dist
node_modules
size-snapshot.json
performance-snapshot.json
# vale downloaded config
.github/styles/Google
.github/styles/MUI
.github/styles/.vale-config
test-results