# The best pattern to follow is ignoring editor files in a global .gitignore configuration file.
# However, in order to prevent issues, editor files are ignored here.
.idea
.vscode

.DS_STORE
*.log
dist
node_modules
__diff_output__