.mui-x-scheduler .Button {
  display: flex;
  align-items: center;
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-4);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-2);
}

.mui-x-scheduler .NeutralButton {
  background: var(--gray-3);
  color: var(--default-text-color);
}

.mui-x-scheduler .NeutralButton:hover:not(:disabled) {
  background: var(--gray-4);
}

.mui-x-scheduler .NeutralButton:active:not(:disabled) {
  background: var(--gray-5);
}

.mui-x-scheduler .NeutralButton:disabled {
  opacity: 0.5;
  cursor: var(--cursor-disabled);
}

.mui-x-scheduler .NeutralButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

.mui-x-scheduler .PrimaryButton {
  background: var(--primary-9);
  color: var(--primary-1);
}

.mui-x-scheduler .PrimaryButton:hover {
  background: var(--primary-10);
}

.mui-x-scheduler .PrimaryButton:active {
  background: var(--gray-11);
}

.mui-x-scheduler .PrimaryButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

.mui-x-scheduler .SecondaryErrorButton {
  background: var(--gray-1);
  color: var(--error-11);
}

.mui-x-scheduler .SecondaryErrorButton:hover {
  background: var(--error-4);
}

.mui-x-scheduler .SecondaryErrorButton:active {
  background: var(--error-5);
}

.mui-x-scheduler .SecondaryErrorButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

.mui-x-scheduler .NeutralTextButton {
  background: transparent;
  color: var(--default-text-color);
}

.mui-x-scheduler .NeutralTextButton:hover {
  background: var(--gray-4);
}

.mui-x-scheduler .NeutralTextButton:active {
  background: var(--gray-5);
}

.mui-x-scheduler .NeutralTextButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Outlined buttons  */

.mui-x-scheduler .OutlinedNeutralButton {
  background: var(--surface);
  user-select: none;
  border: 1px solid var(--border-color);
  line-height: var(--line-height-2);
  font-weight: var(--font-weight-1);
}

/* Hovered */
.mui-x-scheduler .OutlinedNeutralButton:hover {
  background: var(--gray-2);
}

/* Active */
.mui-x-scheduler .OutlinedNeutralButton:active {
  background: var(--gray-3);
}

/* Selected */
.mui-x-scheduler .OutlinedNeutralButton[data-pressed] {
  background: var(--gray-3);
}

/* Selected and hovered */
.mui-x-scheduler .OutlinedNeutralButton[data-pressed]:hover {
  background: var(--gray-4);
}

/* Focused */
.mui-x-scheduler .OutlinedNeutralButton:focus-visible {
  background: var(--gray-2);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Focused and hovered */
.mui-x-scheduler .OutlinedNeutralButton:focus-visible:hover {
  background: var(--gray-3);
}

/* Active and focused */
.mui-x-scheduler .OutlinedNeutralButton:active:focus-visible {
  background: var(--gray-4);
}

/* Selected and focused */
.mui-x-scheduler .OutlinedNeutralButton[data-pressed]:focus-visible {
  background: var(--gray-4);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/*Selected and focused and hovered */
.mui-x-scheduler .OutlinedNeutralButton[data-pressed]:focus-visible:hover {
  background: var(--gray-5);
}
