.mui-x-scheduler .MenuBar,
.mui-x-scheduler .TogglePanel {
  display: flex;
  gap: var(--space-05);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  padding: var(--space-05);
}

.mui-x-scheduler .MenuPopup {
  min-width: 190px;
  padding: var(--space-1);
  border-radius: var(--radius-4);
  background-color: var(--surface);
  outline: 1px solid var(--border-color);
  box-shadow: var(--shadow-5);
}

.mui-x-scheduler .MenuPositioner {
  z-index: 3;
}

.mui-x-scheduler .RadioGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.mui-x-scheduler .MainItem,
.RadioItem,
.CheckboxItem {
  background: var(--surface);
  user-select: none;
  display: flex;
  align-items: center;
  gap: var(--space-1);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-3);
  font-size: inherit;
  line-height: var(--line-height-2);
}

.mui-x-scheduler .CheckboxItem,
.RadioItem {
  justify-content: space-between;
  cursor: pointer;
}

.CheckboxIndicator {
  display: flex;
}

/* Hovered */
.mui-x-scheduler .MainItem:hover,
.mui-x-scheduler .RadioItem:hover,
.mui-x-scheduler .CheckboxItem:hover {
  background: var(--interactive-hover-bg);
}

/* Active */
.mui-x-scheduler .MainItem:active,
.mui-x-scheduler .CheckboxItem:active,
.mui-x-scheduler .RadioItem:active {
  background: var(--interactive-active-bg);
}

/* Selected */
.mui-x-scheduler .MainItem[data-highlighted],
.mui-x-scheduler .MainItem[data-pressed],
.mui-x-scheduler .RadioItem[data-checked],
.mui-x-scheduler .CheckboxItem[data-checked] {
  background: var(--interactive-selected-bg);
  color: var(--interactive-selected-text);
}

/* Selected and hovered */
.mui-x-scheduler .MainItem[data-highlighted]:hover,
.mui-x-scheduler .MainItem[data-pressed]:hover,
.mui-x-scheduler .RadioItem[data-checked]:hover,
.mui-x-scheduler .CheckboxItem[data-checked]:hover {
  background: var(--interactive-selected-hover-bg);
}

/* Focused */
.mui-x-scheduler .MainItem:focus-visible,
.mui-x-scheduler .RadioItem:focus-visible,
.mui-x-scheduler .CheckboxItem:focus-visible {
  background: var(--interactive-focused-bg);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Focused and hovered */
.mui-x-scheduler .MainItem:focus-visible:hover,
.mui-x-scheduler .RadioItem:focus-visible:hover,
.mui-x-scheduler .CheckboxItem:focus-visible:hover {
  background: var(--interactive-focused-hover-bg);
}

/* Active and focused */
.mui-x-scheduler .MainItem:active:focus-visible,
.mui-x-scheduler .RadioItem:active:focus-visible,
.mui-x-scheduler .CheckboxItem:active:focus-visible {
  background: var(--interactive-active-focused-bg);
}

/* Selected and focused */
.mui-x-scheduler .MainItem[data-highlighted]:focus-visible,
.mui-x-scheduler .MainItem[data-pressed]:focus-visible,
.mui-x-scheduler .RadioItem[data-checked]:focus-visible,
.mui-x-scheduler .CheckboxItem[data-checked]:focus-visible {
  background: var(--interactive-selected-focused-bg);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Selected and hovered and focused */
.mui-x-scheduler .MainItem[data-highlighted]:focus-visible:hover,
.mui-x-scheduler .MainItem[data-pressed]:focus-visible:hover,
.mui-x-scheduler .RadioItem[data-checked]:focus-visible:hover,
.mui-x-scheduler .CheckboxItem[data-checked]:focus-visible:hover {
  background: var(--interactive-selected-hover-focused-bg);
}
