@import '../../../styles/tokens.css';

.HeaderToolbarContainer {
  display: flex;
  gap: var(--space-4);
  width: 100%;
  justify-content: center;

  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-1);
}

.mui-x-scheduler .HeaderToolbarButton {
  background: var(--surface);
  user-select: none;
  padding: var(--space-3) var(--space-4);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  font-size: inherit;
  line-height: inherit;
}

/* Hovered */
.HeaderToolbarButton:hover {
  background: var(--interactive-hover-bg);
}

/* Active */
.HeaderToolbarButton:active {
  background: var(--interactive-active-bg);
}

/* Focused */
.HeaderToolbarButton:focus-visible {
  background: var(--interactive-focused-bg);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Focused and hovered */
.HeaderToolbarButton:focus-visible:hover {
  background: var(--interactive-focused-hover-bg);
}

/* Active and focused */
.HeaderToolbarButton:active:focus-visible {
  background: var(--interactive-active-focused-bg);
}
