@import '../../../styles/tokens.css';

.HeaderToolbarContainer {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  align-items: center;
  gap: var(--space-4);
  width: 100%;

  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
  font-weight: var(--font-weight-1);
}

.PrimaryActionWrapper {
  grid-column: 2;
  display: flex;
  gap: var(--space-4);
  justify-content: center;
}
.SecondaryActionWrapper {
  grid-column: 3;
  display: flex;
  gap: var(--space-2);
  justify-content: flex-end;
}

.HeaderToolbarContainer.SinglePrimaryAction {
  display: flex;
  justify-content: flex-end;
}
