/* Tokens that don't depend on the color scheme */

.joy {
  /* Aliases */
  --border-color: var(--mauve-2);

  --gray-1: var(--mauve-1);
  --gray-2: var(--mauve-2);
  --gray-2-rgba-20: rgba(var(--mauve-2-rgb), 0.2);
  --gray-2-rgba-30: rgba(var(--mauve-2-rgb), 0.3);
  --gray-2-rgba-40: rgba(var(--mauve-2-rgb), 0.4);
  --gray-2-rgba-50: rgba(var(--mauve-2-rgb), 0.5);
  --gray-2-rgba-80: rgba(var(--mauve-2-rgb), 0.8);
  --gray-3: var(--mauve-3);
  --gray-4: var(--mauve-4);
  --gray-5: var(--mauve-5);
  --gray-6: var(--mauve-6);
  --gray-7: var(--mauve-7);
  --gray-8: var(--mauve-8);
  --gray-9: var(--mauve-9);
  --gray-10: var(--mauve-10);
  --gray-11: var(--mauve-11);
  --gray-12: var(--mauve-12);
  --gray-13: var(--mauve-13);

  --primary-1: var(--violet-1);
  --primary-2: var(--violet-2);
  --primary-3: var(--violet-3);
  --primary-4: var(--violet-4);
  --primary-4-rgb: var(--violet-4-rgb);
  --primary-4-rgba-70: rgba(var(--violet-4-rgb), 0.7);
  --primary-4-rgba-80: rgba(var(--violet-4-rgb), 0.8);
  --primary-5: var(--violet-5);
  --primary-6: var(--violet-6);
  --primary-7: var(--violet-7);
  --primary-8: var(--violet-8);
  --primary-9: var(--violet-9);
  --primary-10: var(--violet-10);
  --primary-11: var(--violet-11);
  --primary-12: var(--violet-12);
  --primary-13: var(--violet-13);

  --secondary-1: var(--cyan-1);
  --secondary-2: var(--cyan-2);
  --secondary-3: var(--cyan-3);
  --secondary-4: var(--cyan-4);
  --secondary-5: var(--cyan-5);
  --secondary-6: var(--cyan-6);
  --secondary-7: var(--cyan-7);
  --secondary-8: var(--cyan-8);
  --secondary-9: var(--cyan-9);
  --secondary-10: var(--cyan-10);
  --secondary-11: var(--cyan-11);
  --secondary-12: var(--cyan-12);
  --secondary-13: var(--cyan-13);

  --success-1: var(--jade-1);
  --success-2: var(--jade-2);
  --success-3: var(--jade-3);
  --success-4: var(--jade-4);
  --success-5: var(--jade-5);
  --success-6: var(--jade-6);
  --success-7: var(--jade-7);
  --success-8: var(--jade-8);
  --success-9: var(--jade-9);
  --success-10: var(--jade-10);
  --success-11: var(--jade-11);
  --success-12: var(--jade-12);

  --error-1: var(--red-1);
  --error-2: var(--red-2);
  --error-2-rgba-20: rgba(var(--red-2-rgb), 0.2);
  --error-3: var(--red-3);
  --error-4: var(--red-4);
  --error-5: var(--red-5);
  --error-6: var(--red-6);
  --error-7: var(--red-7);
  --error-8: var(--red-8);
  --error-9: var(--red-9);
  --error-10: var(--red-10);
  --error-11: var(--red-11);
  --error-12: var(--red-12);

  --mauve-1: #fafafa;
  --mauve-2: #e9e9ec;
  --mauve-2-rgb: 233, 233, 236;
  --mauve-3: #b5b2bc;
  --mauve-4: #7c7a85;
  --mauve-4-rgb: #124, 122, 133;
  --mauve-5: #6f6d78;
  --mauve-6: #625f69;
  --mauve-7: #49474e;
  --mauve-8: #3c393f;
  --mauve-9: #323035;
  --mauve-10: #2b292d;
  --mauve-11: #1a191b;
  --mauve-12: #1a191b;
  --mauve-13: #121113;

  --violet-1: #fdfcfe;
  --violet-2: #faf8ff;
  --violet-3: #f4f0fe;
  --violet-4: #ebe4ff;
  --violet-4-rgb: 235, 228, 255;
  --violet-5: #e1d9ff;
  --violet-6: #d4cafe;
  --violet-7: #c2b5f5;
  --violet-8: #aa99ec;
  --violet-9: #6e56cf;
  --violet-10: #654dc4;
  --violet-11: #6550b9;
  --violet-12: #3d317c;
  --violet-13: #2f265f;

  --cyan-1: #fafdfe;
  --cyan-2: #f2fafb;
  --cyan-3: #def7f9;
  --cyan-4: #caf1f6;
  --cyan-4-rgb: 202, 241, 246;
  --cyan-5: #b5e9f0;
  --cyan-6: #9ddde7;
  --cyan-7: #7dcedc;
  --cyan-8: #3db9cf;
  --cyan-9: #00a2c7;
  --cyan-10: #0797b9;
  --cyan-11: #107d98;
  --cyan-12: #135a6c;
  --cyan-13: #0d3c48;

  --jade-1: #fbfefd;
  --jade-2: #f4fbf7;
  --jade-3: #e6f7ed;
  --jade-4: #d6f1e3;
  --jade-4-rgb: 214, 241, 227;
  --jade-5: #c3e9d7;
  --jade-6: #acdec8;
  --jade-7: #8bceb6;
  --jade-8: #56ba9f;
  --jade-9: #29a383;
  --jade-10: #26997b;
  --jade-11: #208368;
  --jade-12: #1d3b31;

  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-2-rgb: 255, 247, 247;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-4-rgb: 255, 219, 220;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e5484d;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #952234;
  --red-13: #641723;

  --surface: white;
  --panel: white;
  --shadow-black: 0 0% 0%;
  --shadow-tint: 215 22% 17%;

  /* Scales */
  --font-family-1: 'Instrument Sans', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  --font-family-2: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  --font-family-3:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;

  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 26px;
  --font-size-7: 36px;
  --font-size-8: 46px;
  --font-size-9: 58px;

  --line-height-1: 18px;
  --line-height-2: 22px;
  --line-height-3: 24px;
  --line-height-4: 25px;
  --line-height-5: 25px;
  --line-height-6: 31px;
  --line-height-7: 38px;
  --line-height-8: 48px;
  --line-height-9: 56px;

  --letter-spacing-1: 0.025em;
  --letter-spacing-2: 0.02em;
  --letter-spacing-3: 0.016em;
  --letter-spacing-4: 0.0125em;
  --letter-spacing-5: 0.0125em;
  --letter-spacing-6: -0.016em;
  --letter-spacing-7: -0.021em;
  --letter-spacing-8: -0.038em;
  --letter-spacing-9: -0.036em;

  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 40px;
  --space-9: 48px;
  --space-10: 64px;

  --radius-1: 2px;
  --radius-2: 3px;
  --radius-3: 4px;
  --radius-4: 6px;
  --radius-5: 8px;
  --radius-6: 12px;
  --radius-7: 16px;
  --radius-pill: 9999px;
  --radius-circle: 50%;

  --duration-1: 25ms;
  --duration-2: 50ms;
  --duration-3: 100ms;

  --shadow-1:
    0 1px 1px 0 hsl(0, 0, 0, 0.05), 0 2px 1px -1px hsl(0, 0, 0, 0.05),
    0 1px 3px 0 hsl(0, 0, 0, 0.05);

  --shadow-4:
    0 1px 1px 0px hsl(var(--shadow-tint) / 5%), 0 1px 3px 0px hsl(var(--shadow-tint) / 5%),
    0 4px 8px 0px hsl(var(--shadow-tint) / 5%);

  --shadow-5:
    0 1px 1px 0px hsl(var(--shadow-tint) / 5%), 0 2px 6px -1px hsl(var(--shadow-tint) / 5%),
    0 6px 12px -3px hsl(var(--shadow-tint) / 5%), 0 8px 16px -4px hsl(var(--shadow-tint) / 5%);

  --shadow-6:
    0 1px 1px 0px hsl(var(--shadow-tint) / 5%), 0 2px 4px -1px hsl(var(--shadow-tint) / 5%),
    0 4px 8px -2px hsl(var(--shadow-tint) / 5%), 0 12px 32px -6px hsl(var(--shadow-tint) / 12%),
    0 20px 48px -10px hsl(var(--shadow-tint) / 5%);

  --shadow-9:
    hsl(var(--shadow-tint) / 15%) 0px 10px 32px, hsl(var(--shadow-black) / 5%) 0px 1px 1px,
    hsl(var(--shadow-tint) / 8%) 0px 4px 6px, hsl(var(--shadow-tint) / 10%) 0px 1px 1px,
    hsl(var(--shadow-tint) / 10%) 0 24px 68px;

  --cursor-button: default;
  --cursor-disabled: not-allowed;

  /* Outline */
  --outline-focus: 2px solid var(--violet-4);
  --outline-focus-offset: 2px;

  /* Interactive states */
  --interactive-hover-bg: var(--gray-2-rgba-50);
  --interactive-active-bg:
    linear-gradient(to bottom, var(--primary-4-rgba-70), var(--primary-4-rgba-70)),
    linear-gradient(to bottom, var(--gray-2-rgba-30), var(--gray-2-rgba-30));
  --interactive-selected-bg: var(--primary-3);
  --interactive-selected-text: var(--primary-13);
  --interactive-selected-hover-bg: var(--primary-4);
  --interactive-focused-bg: var(--gray-2-rgba-50);
  --interactive-focused-hover-bg: var(--gray-2-rgba-80);
  --interactive-active-focused-bg:
    linear-gradient(to bottom, var(--primary-4-rgba-80), var(--primary-4-rgba-80)),
    linear-gradient(to bottom, var(--gray-2-rgba-40), var(--gray-2-rgba-40));
  --interactive-selected-focused-bg: var(--primary-4);
  --interactive-selected-hover-focused-bg: var(--primary-5);

  /* Font */

  --default-font-family: var(--font-family-1);
  --default-font-size: var(--font-size-3);
  --default-font-style: normal;
  --default-line-height: 1.5;
  --default-letter-spacing: 0.016em;
  --default-font-weight: var(--font-weight-1);
  --default-text-color: var(--gray-12);

  --heading-font-family: var(--default-font-family);
  --heading-font-size-adjust: 1;
  --heading-font-style: normal;
  --heading-letter-spacing: 0em;

  --strong-font-family: var(--default-font-family);
  --strong-font-size-adjust: 1;
  --strong-font-style: inherit;
  --strong-font-weight: var(--font-weight-3);
  --strong-letter-spacing: 0em;

  --em-font-family: 'Times New Roman', 'Times', serif;
  --em-font-size-adjust: 1.18;
  --em-font-style: italic;
  --em-font-weight: inherit;
  --em-letter-spacing: -0.025em;

  --code-font-family:
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --code-font-size-adjust: 0.84;
  --code-font-style: normal;
  --code-font-weight: inherit;
  --code-letter-spacing: -0.007em;
  --code-padding-top: 0.12em;
  --code-padding-bottom: 0.12em;
  --code-padding-left: 0.24em;
  --code-padding-right: 0.24em;
}
