.Root {
  border: 1px solid #78716c;
  width: 276px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.Header {
  box-sizing: border-box;
  padding: 8px 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderBlock {
  display: flex;
  gap: 4px;
  flex-grow: 1;
  justify-content: center;
}

.SetVisibleMonth,
.SetVisibleYear,
.SetActiveSectionMonth,
.SetActiveSectionYear {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  font-size: 12px;
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #e0f2fe;
  }

  &:focus-visible {
    outline: 2px solid #0ea5e9;
  }

  &:disabled {
    pointer-events: none;
  }
}

.SetVisibleMonth,
.SetVisibleYear {
  height: 24px;
  width: 24px;
}

.SetActiveSectionMonth {
  min-width: 72px;
}

.SetActiveSectionYear {
  min-width: 42px;
}

.MonthsList,
.YearsList {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  overflow-y: scroll;
}

.MonthsCell,
.YearsCell {
  height: 24px;
  min-height: 24px;
}

.DaysGrid {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.DaysGridBody {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.DaysWeekRow,
.DaysGridHeader {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.DaysCellWrapper {
  height: 32px;
  width: 32px;
}

.DaysCell {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:not([data-selected]):hover {
    background-color: #e0f2fe;
  }

  &[data-current] {
    outline: 2px solid #9ca3af;
  }

  &[data-selected] {
    background-color: #7dd3fc;

    &:focus-visible {
      outline: 2px solid #0ea5e9;
    }
  }

  &:focus-visible {
    outline: 2px solid #0ea5e9;
  }

  &[data-outsidemonth] {
    display: none;
  }
}

.DaysGridHeaderCell {
  width: 32px;
  text-align: center;
}

.MonthsCell,
.YearsCell {
  &[data-selected] {
    background-color: #0ea5e9;
  }

  &:focus-visible {
    border-width: 2px;

    &[data-selected] {
      background-color: #7dd3fc;
    }
  }
}
