@import './tokens.css';

.mui .Button {
  display: flex;
  align-items: center;
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-4);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-2);
  line-height: var(--line-height-1);
}

.mui .NeutralButton {
  background: var(--gray-3);
  color: var(--default-text-color);
}

.mui .NeutralButton:hover {
  background: var(--gray-4);
}

.mui .NeutralButton:active {
  background: var(--gray-5);
}

.mui .NeutralButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

.mui .PrimaryButton {
  background: var(--primary-9);
  color: var(--primary-1);
}

.mui .PrimaryButton:hover {
  background: var(--primary-10);
}

.mui .PrimaryButton:active {
  background: var(--gray-11);
}

.mui .PrimaryButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

.mui .SecondaryErrorButton {
  background: var(--gray-1);
  color: var(--error-11);
}

.mui .SecondaryErrorButton:hover {
  background: var(--error-4);
}

.mui .SecondaryErrorButton:active {
  background: var(--error-5);
}

.mui .SecondaryErrorButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

.mui .NeutralTextButton {
  background: transparent;
  color: var(--default-text-color);
}

.mui .NeutralTextButton:hover {
  background: var(--gray-4);
}

.mui .NeutralTextButton:active {
  background: var(--gray-5);
}

.mui .NeutralTextButton:focus-visible {
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}
