.negative {
     color: #d20704;
 }
.positive {
    color: #008508;
}
.info-icon {
    color: #2196f3;
    align-self: center;
}
.bad {
    background: rgba(255,128,171,.4);
}
.good {
    background: rgba(185,246,202,.4);
}
