.Container {
  --border-color: oklch(87.1% 0.006 286.286);
  --event-work-bg-color: oklch(82.8% 0.111 230.318);
  --event-personal-bg-color: oklch(81% 0.117 11.638);
}

:global(.mode-dark) .Container {
  --border-color: oklch(44.2% 0.017 285.786);
  --event-work-bg-color: oklch(50% 0.134 242.749);
  --event-personal-bg-color: oklch(45.5% 0.188 13.697);
}

.Container {
  width: 100%;
}

.Root {
  border-collapse: collapse;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.Row {
  border-bottom: 1px solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  &:first-child {
    border-top: 1px solid var(--border-color);
  }
}

.Cell {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  padding: 4px;
  border-inline-end: 1px solid var(--border-color);

  &:first-child {
    border-inline-start: 1px solid var(--border-color);
  }
}

.CellLabel {
  font-size: 14px;
  margin-bottom: 4px;
}

.CellEvents {
  position: relative;
}

.Event {
  margin-bottom: 4px;
  display: flex;
  gap: 4px;
}

.EventChip {
  background-color: var(--event-bg-color);
  height: 12px;
  width: 12px;
  min-width: 12px;
  flex-shrink: 0;
  border-radius: 50%;

  &[data-resource='work'] {
    --event-bg-color: var(--event-work-bg-color);
  }

  &[data-resource='personal'] {
    --event-bg-color: var(--event-personal-bg-color);
  }
}

.EventLabel {
  font-size: 10px;
  flex-shrink: 1;
}
