.Container {
  --border-color: oklch(87.1% 0.006 286.286);
  --event-bg-color: oklch(82.8% 0.111 230.318);
}

:global(.mode-dark) .Container {
  --border-color: oklch(44.2% 0.017 285.786);
  --event-bg-color: oklch(50% 0.134 242.749);
}

.Root {
  display: flex;
  width: 800px;
  border: 1px solid var(--border-color);
}

.EventSubGridContainer {
  overflow-x: scroll;
  display: flex;
}

.SubGrid {
  flex-shrink: 0;

  &:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

.EventSubGrid {
  width: calc(var(--day-count) * 72px);
}

.Row {
  display: flex;
  height: 64px;
  line-height: 64px;
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.Cell {
  &:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

.TitleCell {
  padding-left: 12px;
  padding-right: 12px;
}

.TimeCell {
  min-width: 72px;
  width: 72px;
}

.Event {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: var(--x-position);
  right: calc(100% - var(--x-position) - var(--width));
  background-color: var(--event-bg-color);
  border-radius: 6px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 40px;
}
