version: 2.1

orbs:
  code-infra: https://raw.githubusercontent.com/mui/mui-public/4ade0c29b3effbc7af0278f249019ce294fed0d4/.circleci/orbs/code-infra.yml

parameters:
  browserstack-force:
    description: Whether to force browserstack usage. We have limited resources on browserstack so the pipeline might decide to skip browserstack if this parameter isn't set to true.
    type: boolean
    default: false
  react-version:
    description: The version of react to be used
    type: string
    default: stable
  workflow:
    description: The name of the workflow to run
    type: string
    default: pipeline
  material-ui-version:
    description: The version of material-ui to be used
    type: string
    default: stable
  with-react-version:
    description: The version of react to be used for the additional tests
    type: string
    default: stable
  e2e-base-url:
    description: The base url for running end-to-end test
    type: string
    default: ''

default-parameters: &default-parameters
  react-version:
    description: The version of react to be used
    type: string
    default: << pipeline.parameters.react-version >>
  material-ui-version:
    description: The version of material-ui to be used
    type: string
    default: << pipeline.parameters.material-ui-version >>
  e2e-base-url:
    description: The base url for running end-to-end test
    type: string
    default: << pipeline.parameters.e2e-base-url >>

default-job: &default-job
  parameters:
    <<: *default-parameters
  environment:
    # expose it globally otherwise we have to thread it from each job to the install command
    BROWSERSTACK_FORCE: << pipeline.parameters.browserstack-force >>
    COREPACK_ENABLE_DOWNLOAD_PROMPT: '0'
  working_directory: /tmp/mui
  executor: code-infra/mui-node
# CircleCI has disabled the cache across forks for security reasons.
# Following their official statement, it was a quick solution, they
# are working on providing this feature back with appropriate security measures.
# https://discuss.circleci.com/t/saving-cache-stopped-working-warning-skipping-this-step-disabled-in-configuration/24423/21
#
# restore_repo: &restore_repo
#   restore_cache:
#     key: v1-repo-{{ .Branch }}-{{ .Revision }}

default-context: &default-context
  context:
    - org-global

commands:
  install-deps:
    parameters:
      react-version:
        type: string
        default: << pipeline.parameters.react-version >>
    steps:
      - code-infra/install-deps:
          package-overrides: react@<< parameters.react-version >> @mui/material@<< pipeline.parameters.material-ui-version >>

jobs:
  checkout:
    <<: *default-job
    steps:
      - checkout
      - install-deps
      - run:
          name: Should not have any git not staged
          command: git add -A && git diff --exit-code --staged

  test_unit:
    <<: *default-job
    steps:
      - checkout
      - install-deps:
          react-version: << parameters.react-version >>
      - run:
          name: Test JSDOM
          command: |
            # Fully saturate all the available CPUs by splitting the tests in 1 shard per CPU
            pnpm exec concurrently "pnpm test:unit:jsdom --reporter=blob  --reporter=dot --shard=1/2" "pnpm test:unit:jsdom --reporter=blob  --reporter=dot --shard=2/2" || TEST_EXIT_CODE=$?
            pnpm exec vitest run --merge-reports
            # Reports merged, we can now exit with the stored code
            exit ${TEST_EXIT_CODE:-0}
      - store_test_results:
          path: test-results
  test_browser:
    <<: *default-job
    executor:
      name: code-infra/mui-node-browser
      playwright-img-version: v1.58.2-noble
    resource_class: large
    steps:
      - checkout
      - install-deps:
          react-version: << parameters.react-version >>
      - when:
          condition:
            not:
              equal: ['stable', << parameters.react-version >>]
          steps:
            - run:
                environment:
                  TZ: UTC
                  PLAYWRIGHT_SERVER_WS: 'ws://127.0.0.1:9050/mui-browser'
                name: Test Browser
                command: |
                  pnpm exec concurrently --kill-others --success command-1 "node ./scripts/playwrightLaunchServer.mjs" "pnpm test:unit:browser"
      - when:
          condition:
            equal: ['stable', << parameters.react-version >>]
          steps:
            - run:
                name: Test Browser + Coverage
                environment:
                  TZ: UTC
                  PLAYWRIGHT_SERVER_WS: 'ws://127.0.0.1:9050/mui-browser'
                command: |
                  pnpm exec concurrently --kill-others --success command-1 "node ./scripts/playwrightLaunchServer.mjs" "pnpm test:unit:browser --coverage"
            - code-infra/upload-coverage:
                key: << parameters.react-version >>-browser
      - store_test_results:
          path: test-results
  test_lint:
    <<: *default-job
    steps:
      - checkout
      - install-deps
      - code-infra/run-linters
  test_static:
    <<: *default-job
    steps:
      - checkout
      - install-deps
      - code-infra/check-static-changes
      - run:
          name: Generate PropTypes
          command: pnpm proptypes
          environment:
            NODE_OPTIONS: --max-old-space-size=3584
      - run:
          name: '`pnpm proptypes` changes committed?'
          command: git add -A && git diff --exit-code --staged
      - run:
          name: Generate the documentation
          command: pnpm docs:api
          environment:
            NODE_OPTIONS: --max-old-space-size=3584
      - run:
          name: '`pnpm docs:api` changes committed?'
          command: git add -A && git diff --exit-code --staged
      - run:
          name: Sync locale files
          command: pnpm l10n
      - run:
          name: '`pnpm l10n` changes committed?'
          command: git add -A && git diff --exit-code --staged
      - run:
          name: '`pnpm @mui/x-charts-vendor build` was run?'
          command: |
            # #target-branch-reference
            # Replace `master` with the new branch `vX.x` when creating the first PR on the vX.x branch
            # For example, when creating v9 from v8, `master -> v8.x`
            if [[ $(git diff --name-status master | grep pnpm-lock) == "" ]];
            then
              echo "No changes to dependencies detected. Skipping..."
            else
              pnpm --filter @mui/x-charts-vendor build
              git add -A && git diff --exit-code --staged
            fi
      - run:
          name: 'No dynamic date library import in the Pickers built types?'
          command: |
            pnpm lerna run --include-dependencies --scope "@mui/x-date-pickers*" build
            if grep -nr 'import("luxon")\|import("dayjs")\|import("moment")' --exclude Adapter*.d.ts packages/{x-date-pickers,x-date-pickers-pro}/build
            then
                exit 1
            else
                exit 0
            fi
      - run:
          name: '`pnpm generate:exports` was run?'
          command: |
            pnpm generate:exports
            git add -A && git diff --exit-code --staged
  test_types:
    <<: *default-job
    steps:
      - checkout
      - install-deps
      - run:
          name: Transpile TypeScript demos
          command: pnpm docs:typescript:formatted --disable-cache
      - run:
          name: '`pnpm docs:typescript:formatted` changes committed?'
          command: git add -A && git diff --exit-code --staged docs/src docs/data
      - run:
          name: Tests TypeScript definitions
          command: pnpm typescript:ci
          environment:
            NODE_OPTIONS: --max-old-space-size=3584
  test_e2e:
    <<: *default-job
    executor:
      name: code-infra/mui-node-browser
      playwright-img-version: v1.58.2-noble
    steps:
      - checkout
      - install-deps:
          react-version: << parameters.react-version >>
      - run:
          name: Build packages
          command: pnpm release:build
      - run:
          name: Run e2e tests
          command: pnpm test:e2e
  test_e2e_website:
    <<: *default-job
    executor:
      name: code-infra/mui-node-browser
      playwright-img-version: v1.58.2-noble
    steps:
      - checkout
      - install-deps
      - run:
          name: pnpm test:e2e-website
          command: pnpm test:e2e-website
          environment:
            PLAYWRIGHT_TEST_BASE_URL: << parameters.e2e-base-url >>
  test_package:
    <<: *default-job
    steps:
      - checkout
      - install-deps:
          react-version: << parameters.react-version >>
      - run:
          name: prepare danger on PRs
          command: pnpm danger ci
          environment:
            DANGER_COMMAND: prepareBundleSizeReport
      - run:
          name: Build packages
          command: pnpm release:build
      - code-infra/upload-size-snapshot
      - run:
          name: Run danger on PRs
          command: pnpm danger ci --fail-on-errors
          environment:
            DANGER_COMMAND: reportBundleSize
  test_regressions:
    <<: *default-job
    executor:
      name: code-infra/mui-node-browser
      playwright-img-version: v1.58.2-noble
    steps:
      - checkout
      - install-deps:
          react-version: << parameters.react-version >>
      - run:
          name: Install ffmpeg
          command: apt update && apt upgrade -y && apt install ffmpeg -y
      - run:
          name: Build packages
          command: pnpm release:build
      - run:
          name: Run visual regression tests
          command: xvfb-run pnpm test:regressions
      - run:
          name: Upload screenshots to Argos CI
          command: pnpm test:argos

workflows:
  pipeline:
    when:
      equal: [pipeline, << pipeline.parameters.workflow >>]
    jobs:
      - checkout:
          <<: *default-context
      - test_unit:
          <<: *default-context
      - test_browser:
          <<: *default-context
      - test_lint:
          <<: *default-context
      - test_static:
          <<: *default-context
      - test_types:
          <<: *default-context
      - test_e2e:
          <<: *default-context
      - test_regressions:
          <<: *default-context
      - test_package:
          <<: *default-context
  e2e-website:
    when:
      equal: [e2e-website, << pipeline.parameters.workflow >>]
    jobs:
      - checkout:
          <<: *default-context
      - test_e2e_website
  additional-tests:
    when:
      and:
        - equal: [additional, << pipeline.parameters.workflow >>]
        - or:
            - not:
                equal: ['stable', << pipeline.parameters.material-ui-version >>]
            - not:
                equal: ['stable', << pipeline.parameters.with-react-version >>]
    jobs:
      - test_unit:
          <<: *default-context
          name: test_unit_additional
          react-version: << pipeline.parameters.with-react-version >>
      - test_browser:
          <<: *default-context
          name: test_browser_additional
          react-version: << pipeline.parameters.with-react-version >>
      - test_regressions:
          <<: *default-context
          name: test_regressions_additional
          react-version: << pipeline.parameters.with-react-version >>
      - test_e2e:
          <<: *default-context
          name: test_e2e_additional
          react-version: << pipeline.parameters.with-react-version >>
  additional-checks:
    when:
      and:
        - equal: [additional, << pipeline.parameters.workflow >>]
        - not:
            equal: ['stable', << pipeline.parameters.material-ui-version >>]
    jobs:
      - test_types:
          <<: *default-context
          name: test_types_additional
  test-react-18:
    when:
      equal: [pipeline, << pipeline.parameters.workflow >>]
    jobs:
      - test_unit:
          <<: *default-context
          name: test_unit_react_18
          react-version: ^18
      - test_browser:
          <<: *default-context
          name: test_browser_react_18
          react-version: ^18
      - test_e2e:
          <<: *default-context
          name: test_e2e_react_18
          react-version: ^18
