.AgendaViewContainer {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  overflow-y: scroll;
}

.AgendaViewRow {
  display: grid;
  grid-template-columns: 190px 1fr;
  border-bottom: 1px solid var(--border-color);
}
.AgendaViewRow:last-child {
  border-bottom: none;
}

.DayHeaderCell {
  display: flex;
  align-items: flex-start;
  border-right: 1px solid var(--border-color);
  padding: var(--space-4);
  gap: var(--space-1);
}

.DayHeaderCell.Today {
  background-color: var(--primary-2);
  color: var(--primary-12);
}

.DayNumberCell {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-2);
  line-height: 1;
  min-width: 4ch;
  text-align: center;
  color: var(--primary-text-color);
}

.WeekDayCell {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.AgendaWeekDayNameLabel {
  font-size: var(--font-size-2);
  line-height: 1;
}

.AgendaYearAndMonthLabel {
  font-size: var(--font-size-1);
  line-height: 1;
  color: var(--secondary-text-color);
}

.Today .AgendaYearAndMonthLabel {
  color: var(--primary-12);
}

.EventsList {
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  flex-grow: 1;
}
