.DateNavigatorContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4);
  padding: var(--space-2) 0;
}

.DateNavigatorLabel {
  margin: 0;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-3);
  line-height: 1.4;
}

.DateNavigatorButtonsContainer {
  display: flex;
  gap: var(--space-1);
}

.mui-x-scheduler .Button.DateNavigatorButton {
  padding: 0;
}
