.Root {
  --option-selected-bg-color: #7dd3fc;
  --option-hover-bg-color: #e0f2fe;
  --option-focus-border-color: #0ea5e9;
}

:global(.mode-dark) .Root {
  --option-selected-bg-color: #0369a1;
  --option-hover-bg-color: #075985;
}

.Root {
  display: flex;
}

.OptionList {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 72px;
  overflow-y: auto;
}

.Option {
  position: relative;
  user-select: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  min-height: 32px;

  &:hover {
    background-color: var(--option-hover-bg-color);
  }

  &[data-selected] {
    background-color: var(--option-selected-bg-color);
  }

  &:focus-visible {
    outline: 2px solid var(--option-focus-border-color);
  }
}
