.Root {
  --root-border-color: #78716c;
  --option-selected-bg-color: #7dd3fc;
  --option-hover-bg-color: #e0f2fe;
  --option-focus-border-color: #0ea5e9;
}

:global(.mode-dark) .Root {
  --option-selected-bg-color: #0369a1;
  --option-hover-bg-color: #075985;
}

.Root {
  display: inline-flex;
  border: 1px solid var(--root-border-color);
  border-radius: 8px;
  overflow: hidden;
}

/* https://css-tricks.com/scrollbars-on-hover/ */
.OptionListWrapper {
  float: left;

  &[data-wide] .OptionListContent {
    width: 128px;
  }
}

.OptionListContent {
  /* display: flex;
  flex-direction: column;
  overflow-y: auto; */

  display: flex;
  flex-direction: column;
  height: 300px;
  width: 60px;
  overflow-y: scroll;
  mask-image:
    linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image:
    linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition:
    mask-position 0.3s,
    -webkit-mask-position 0.3s;

  &:hover {
    -webkit-mask-position: left top;
  }
}

.Option {
  position: relative;
  user-select: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  min-height: 32px;

  &:hover {
    background-color: var(--option-hover-bg-color);
  }

  &[data-selected] {
    background-color: var(--option-selected-bg-color);
  }

  &:focus-visible {
    outline: 2px solid var(--option-focus-border-color);
  }
}
