.TimelineViewContainer {
  --time-cell-width: 64px;
  --days-cell-width: 120px;
  --weeks-cell-width: 64px;
  --months-cell-width: 180px;
  --years-cell-width: 200px;

  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  gap: var(--space-4);
  height: 100%;
}

.TimelineViewContent {
  border-radius: var(--radius-4);
  border: 1px solid var(--border-color);
  flex-grow: 1;
  width: 100%;
}

.TimelineRoot {
  display: grid;
  grid-template-columns: minmax(100px, auto) 1fr;

  grid-template-rows: auto repeat(var(--row-count, 1), auto);
  align-items: stretch;
}

.HeaderTitleRow,
.HeaderRow {
  border-bottom: 1px solid var(--border-color);

  grid-row: 1;
}

.HeaderTitleRow {
  grid-column: 1;
}

.EventSubGridContainer {
  overflow-x: auto;
  scrollbar-width: thin;
  grid-column: 2;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
}
.EventSubGrid {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: 2 / -1;
}

.TitleSubGridContainer {
  grid-column: 1;
  border-right: 1px solid var(--border-color);

  display: grid;
  grid-template-rows: subgrid;
  grid-row: 1 / -1;
}
.TitleSubGrid {
  grid-column: 1;

  display: grid;
  grid-template-rows: subgrid;
  grid-row: 2 / -1;
}

.TimelineEventRow {
  width: calc(var(--unit-count) * var(--unit-width));
  min-width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-rows: repeat(var(--lane-count, 1), auto);
  row-gap: var(--space-1);
  position: relative;
}

.TimelineRow,
.TimelineEventRow {
  padding: var(--space-4);
  border-bottom: 1px solid var(--border-color);
  align-content: start;
}

.TimelineTitleCell {
  font-size: var(--font-size-2);
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.ResourceLegendColor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--event-color-9);
}

.HeaderTitleCell {
  font-weight: var(--font-weight-3);
  padding: var(--space-2);
  display: flex;
  font-size: var(--font-size-2);
  align-items: flex-end;
  height: 100%;
}
