/* TODO: Remove this file during the MUI X migration */
.palette-primary {
  --event-color-1: var(--primary-1);
  --event-color-2: var(--primary-2);
  --event-color-3: var(--primary-3);
  --event-color-4: var(--primary-4);
  --event-color-5: var(--primary-5);
  --event-color-6: var(--primary-6);
  --event-color-7: var(--primary-7);
  --event-color-8: var(--primary-8);
  --event-color-9: var(--primary-9);
  --event-color-10: var(--primary-10);
  --event-color-11: var(--primary-11);
  --event-color-12: var(--primary-12);

  --event-color-4-rgb: var(--primary-4-rgb);
}

.palette-mauve {
  --event-color-1: var(--mauve-1);
  --event-color-2: var(--mauve-2);
  --event-color-3: var(--mauve-3);
  --event-color-4: var(--mauve-4);
  --event-color-5: var(--mauve-5);
  --event-color-6: var(--mauve-6);
  --event-color-7: var(--mauve-7);
  --event-color-8: var(--mauve-8);
  --event-color-9: var(--mauve-9);
  --event-color-10: var(--mauve-10);
  --event-color-11: var(--mauve-11);
  --event-color-12: var(--mauve-12);

  --event-color-4-rgb: var(--mauve-4-rgb);
}

.palette-violet {
  --event-color-1: var(--violet-1);
  --event-color-2: var(--violet-2);
  --event-color-3: var(--violet-3);
  --event-color-4: var(--violet-4);
  --event-color-5: var(--violet-5);
  --event-color-6: var(--violet-6);
  --event-color-7: var(--violet-7);
  --event-color-8: var(--violet-8);
  --event-color-9: var(--violet-9);
  --event-color-10: var(--violet-10);
  --event-color-11: var(--violet-11);
  --event-color-12: var(--violet-12);

  --event-color-4-rgb: var(--violet-4-rgb);
}

.palette-cyan {
  --event-color-1: var(--cyan-1);
  --event-color-2: var(--cyan-2);
  --event-color-3: var(--cyan-3);
  --event-color-4: var(--cyan-4);
  --event-color-5: var(--cyan-5);
  --event-color-6: var(--cyan-6);
  --event-color-7: var(--cyan-7);
  --event-color-8: var(--cyan-8);
  --event-color-9: var(--cyan-9);
  --event-color-10: var(--cyan-10);
  --event-color-11: var(--cyan-11);
  --event-color-12: var(--cyan-12);

  --event-color-4-rgb: var(--cyan-4-rgb);
}

.palette-jade {
  --event-color-1: var(--jade-1);
  --event-color-2: var(--jade-2);
  --event-color-3: var(--jade-3);
  --event-color-4: var(--jade-4);
  --event-color-5: var(--jade-5);
  --event-color-6: var(--jade-6);
  --event-color-7: var(--jade-7);
  --event-color-8: var(--jade-8);
  --event-color-9: var(--jade-9);
  --event-color-10: var(--jade-10);
  --event-color-11: var(--jade-11);
  --event-color-12: var(--jade-12);

  --event-color-4-rgb: var(--jade-4-rgb);
}

.palette-red {
  --event-color-1: var(--red-1);
  --event-color-2: var(--red-2);
  --event-color-3: var(--red-3);
  --event-color-4: var(--red-4);
  --event-color-5: var(--red-5);
  --event-color-6: var(--red-6);
  --event-color-7: var(--red-7);
  --event-color-8: var(--red-8);
  --event-color-9: var(--red-9);
  --event-color-10: var(--red-10);
  --event-color-11: var(--red-11);
  --event-color-12: var(--red-12);

  --event-color-4-rgb: var(--red-4-rgb);
}

.palette-pink {
  --event-color-1: var(--pink-1);
  --event-color-2: var(--pink-2);
  --event-color-3: var(--pink-3);
  --event-color-4: var(--pink-4);
  --event-color-5: var(--pink-5);
  --event-color-6: var(--pink-6);
  --event-color-7: var(--pink-7);
  --event-color-8: var(--pink-8);
  --event-color-9: var(--pink-9);
  --event-color-10: var(--pink-10);
  --event-color-11: var(--pink-11);
  --event-color-12: var(--pink-12);

  --event-color-4-rgb: var(--pink-4-rgb);
}

.palette-orange {
  --event-color-1: var(--orange-1);
  --event-color-2: var(--orange-2);
  --event-color-3: var(--orange-3);
  --event-color-4: var(--orange-4);
  --event-color-5: var(--orange-5);
  --event-color-6: var(--orange-6);
  --event-color-7: var(--orange-7);
  --event-color-8: var(--orange-8);
  --event-color-9: var(--orange-9);
  --event-color-10: var(--orange-10);
  --event-color-11: var(--orange-11);
  --event-color-12: var(--orange-12);

  --event-color-4-rgb: var(--orange-4-rgb);
}
.palette-yellow {
  --event-color-1: var(--yellow-1);
  --event-color-2: var(--yellow-2);
  --event-color-3: var(--yellow-3);
  --event-color-4: var(--yellow-4);
  --event-color-5: var(--yellow-5);
  --event-color-6: var(--yellow-6);
  --event-color-7: var(--yellow-7);
  --event-color-8: var(--yellow-8);
  --event-color-9: var(--yellow-9);
  --event-color-10: var(--yellow-10);
  --event-color-11: var(--yellow-11);
  --event-color-12: var(--yellow-12);

  --event-color-4-rgb: var(--yellow-4-rgb);
}
.palette-lime {
  --event-color-1: var(--lime-1);
  --event-color-2: var(--lime-2);
  --event-color-3: var(--lime-3);
  --event-color-4: var(--lime-4);
  --event-color-5: var(--lime-5);
  --event-color-6: var(--lime-6);
  --event-color-7: var(--lime-7);
  --event-color-8: var(--lime-8);
  --event-color-9: var(--lime-9);
  --event-color-10: var(--lime-10);
  --event-color-11: var(--lime-11);
  --event-color-12: var(--lime-12);

  --event-color-4-rgb: var(--lime-4-rgb);
}
.palette-blue {
  --event-color-1: var(--blue-1);
  --event-color-2: var(--blue-2);
  --event-color-3: var(--blue-3);
  --event-color-4: var(--blue-4);
  --event-color-5: var(--blue-5);
  --event-color-6: var(--blue-6);
  --event-color-7: var(--blue-7);
  --event-color-8: var(--blue-8);
  --event-color-9: var(--blue-9);
  --event-color-10: var(--blue-10);
  --event-color-11: var(--blue-11);
  --event-color-12: var(--blue-12);

  --event-color-4-rgb: var(--blue-4-rgb);
}
.palette-indigo {
  --event-color-1: var(--indigo-1);
  --event-color-2: var(--indigo-2);
  --event-color-3: var(--indigo-3);
  --event-color-4: var(--indigo-4);
  --event-color-5: var(--indigo-5);
  --event-color-6: var(--indigo-6);
  --event-color-7: var(--indigo-7);
  --event-color-8: var(--indigo-8);
  --event-color-9: var(--indigo-9);
  --event-color-10: var(--indigo-10);
  --event-color-11: var(--indigo-11);
  --event-color-12: var(--indigo-12);

  --event-color-4-rgb: var(--indigo-4-rgb);
}
