.DayGridEventTitle {
  margin: 0;
  color: var(--event-primary-text);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.DayGridEventTime {
  display: inline-block;
  color: var(--event-secondary-text);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  white-space: nowrap;
  width: 150px;
}

.EventCard--compact {
  container-type: inline-size;
  border-radius: var(--radius-3);
  background-color: var(--event-background);
  cursor: pointer;
}

.EventCard--allDay {
  container-type: inline-size;
  border-radius: var(--radius-3);
  background-color: var(--event-background);
  height: fit-content;
  cursor: pointer;
  z-index: 1;
  grid-column-start: var(--grid-column-start);
  grid-column-end: span var(--grid-column-span);
  padding: 0 var(--space-1);
  margin: 0 var(--space-1);
}

.EventCard--compact .DayGridEventCardContent {
  margin: 0;
}

.DayGridEventCardWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-1) var(--space-2);
}

.EventCard--compact:active {
  background-color: var(--interactive-active-bg);
}

.EventCard--compact:hover {
  background-color: var(--interactive-hover-bg);
}

.MonthViewCell.Today .EventCard--compact:hover {
  background-color: var(--primary-3);
}

.MonthViewCell.Today .EventCard--compact:active {
  background-color: var(--primary-4);
}

/* Smaller containers (month view) */
@container (width < 300px) {
  .EventCard--compact .DayGridEventCardWrapper {
    padding: 2px 0 2px var(--space-1);
    gap: var(--space-1);
  }

  .DayGridEventTime {
    display: inline;
  }

  .DayGridEventTimeEnd {
    display: none;
  }

  .DayGridEventTitle {
    margin-inline-start: var(--space-1);
  }
}
