.PopoverPositioner {
  width: 100%;
  background-color: var(--panel);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  z-index: 1300;
  box-shadow: var(--shadow-4);
}

.PopoverArrow {
  display: flex;

  &[data-side='top'] {
    bottom: -8px;
    rotate: 180deg;
  }

  &[data-side='bottom'] {
    top: -8px;
    rotate: 0deg;
  }

  &[data-side='left'] {
    right: -13px;
    rotate: 90deg;
  }

  &[data-side='right'] {
    left: -13px;
    rotate: -90deg;
  }
}
