@import '../styles/tokens.css';

.EventContainer {
  container-type: inline-size;
  display: flex;
  align-items: flex-start;
  gap: var(--space-3);
  flex-wrap: nowrap;
}

.EventCalendarResourceLegendColor {
  margin: calc((var(--line-height-1) - 10px) / 2) 0;
}

.EventContent {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: var(--space-1);
  flex-grow: 1;
}

@container (width < 300px) {
  .EventContent {
    flex-direction: column;
    align-items: flex-end;
  }
  .EventTime {
    order: 2;
  }
  .EventTitle {
    order: 1;
  }
}

.EventTime {
  --number-of-lines: 1;
  color: var(--gray-8);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  flex-basis: 40%;
  max-width: 150px;
}

.EventTitle {
  --number-of-lines: 1;

  color: var(--gray-9);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
}
