@import '../styles/tokens.css';

.EventContainer {
  /* Regular */
  --regular-accepted-bg: var(--primary-3);
  --regular-line-bg: var(--primary-12);
  --regular-accepted-primary-text: var(--primary-12);
  --regular-accepted-secondary-text: var(--primary-11);

  /* Compact */
  --compact-accepted-bg: var(--surface);
  --compact-square-bg: var(--primary-12);
  --compact-accepted-primary-text: var(--primary-12);
  --compact-accepted-secondary-text: var(--primary-12);

  /* All Day */
  --allDay-accepted-bg: var(--primary-5);
  --allDay-accepted-primary-text: var(--primary-13);
}

.mode-dark .EventContainer {
  --regular-accepted-bg: var(--primary-3);
  --compact-accepted-bg: var(--surface);
  --allDay-accepted-bg: var(--primary-5);
}

.EventCard {
  border-radius: var(--radius-4);
  background-color: var(--event-background);
}

.LinesClamp {
  display: -webkit-box;
  line-clamp: var(--number-of-lines);
  -webkit-line-clamp: var(--number-of-lines);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-wrap: break-word;
}

.EventTitle {
  margin: 0;
  color: var(--event-primary-text);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
}

.EventTime {
  color: var(--event-secondary-text);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

.EventCard--regular {
  position: absolute;
  left: 2px;
  right: 2px;
  top: var(--y-position);
  bottom: calc(100% - var(--y-position) - var(--height));
  z-index: 2;

  padding: var(--space-1) var(--space-3);
  --event-background: var(--regular-accepted-bg);
  --event-primary-text: var(--regular-accepted-primary-text);
  --event-secondary-text: var(--regular-accepted-secondary-text);
}

.EventCard--regular::before {
  content: '';
  position: absolute;
  top: var(--space-2);
  left: 0;
  width: 3px;
  height: min(38px, calc(100% - calc(var(--space-2) * 2)));
  border-radius: var(--radius-1);
  background: var(--regular-line-bg);
  pointer-events: none;
}

.EventCard--compact {
  --event-background: var(--compact-accepted-bg);
  --event-primary-text: var(--compact-accepted-primary-text);
  --event-secondary-text: var(--compact-accepted-secondary-text);

  position: relative;
  display: flex;
  gap: var(--space-1);
  padding: var(--space-1) 0 var(--space-1) var(--space-4);
}

.EventCard--compact::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: var(--space-2);
  height: var(--space-2);
  border-radius: var(--radius-1);
  border: 1px solid var(--compact-square-bg);
  background-color: var(--compact-square-bg);
}

.EventCard--compact .EventTime {
  flex-shrink: 0;
  opacity: 0.7;
}

.EventCard--allDay {
  --event-background: var(--allDay-accepted-bg);
  --event-primary-text: var(--allDay-accepted-primary-text);
}
