.EventContainer {
  /* Regular */
  --regular-accepted-bg: var(--event-color-3);
  --regular-line-bg: var(--event-color-12);
  --regular-accepted-primary-text: var(--event-color-12);
  --regular-accepted-secondary-text: var(--event-color-11);

  /* Compact */
  --compact-accepted-bg: transparent;
  --compact-circle-bg: var(--event-color-10);

  /* All Day */
  --allDay-accepted-bg: var(--event-color-5);
  --allDay-accepted-primary-text: var(--event-color-12);
}

.mode-dark .EventContainer {
  --regular-accepted-bg: var(--event-color-3);
  --compact-accepted-bg: transparent;
  --allDay-accepted-bg: var(--event-color-5);
}

.EventCard--regular {
  --event-background: var(--regular-accepted-bg);
  --event-primary-text: var(--regular-accepted-primary-text);
  --event-secondary-text: var(--regular-accepted-secondary-text);
}

.EventCard--compact {
  --event-background: var(--compact-accepted-bg);
  --event-primary-text: var(--default-text-color);
  --event-secondary-text: var(--secondary-text-color);
}

.EventCard--allDay {
  --event-background: var(--allDay-accepted-bg);
  --event-primary-text: var(--allDay-accepted-primary-text);
}
