@import '../styles/tokens.css';

.TimeGridViewContainer {
  --weekend-background: var(--mauve-1);
  --text-strong: var(--mauve-9);
  --text-soft: var(--mauve-5);
  --border-color: var(--mauve-2);
  --fixed-cell-width: 68px;
  --hour-height: 46px;
  --has-scroll: 1;
}

.mode-dark .TimeGridViewContainer {
  --weekend-background: var(--mauve-9);
  --text-strong: var(--mauve-5);
  --text-soft: var(--mauve-2);
}

.TimeGridViewContainer {
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
}

.TimeGridViewRoot {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TimeGridViewHeader {
  display: flex;
  flex-direction: column;
}

.TimeGridViewGridRow {
  display: grid;
  grid-template-columns: var(--fixed-cell-width) repeat(auto-fit, minmax(0, 1fr));
  width: 100%;
}

.TimeGridViewHeaderRow {
  border-bottom: 1px solid var(--border-color);
}

.TimeGridViewHeader[style*='--has-scroll: 1'] .TimeGridViewHeaderRow {
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.TimeGridViewAllDayEventsRow {
  max-height: 84px;

  > *:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

.TimeGridViewHeader[style*='--has-scroll: 1'] .TimeGridViewAllDayEventsRow {
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.TimeGridViewHeader[style*='--has-scroll: 1'] .TimeGridViewAllDayEventsRow[data-weekend] {
  scrollbar-color: var(--weekend-background) var(--weekend-background);
}

/* Webkit (Chrome, Safari, Edge) */
.TimeGridViewHeader[style*='--has-scroll: 1'] .TimeGridViewHeaderRow::-webkit-scrollbar {
  background: transparent;
}

.TimeGridViewHeader[style*='--has-scroll: 1'] .TimeGridViewAllDayEventsRow::-webkit-scrollbar {
  background: transparent;
}

.TimeGridViewHeader[style*='--has-scroll: 1']
  .TimeGridViewAllDayEventsRow[data-weekend]::-webkit-scrollbar {
  background: var(--weekend-background);
}

.TimeGridViewHeaderCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  padding: 10px;
}

.TimeGridViewAllDayEventsHeaderCell {
  font-size: var(--font-size-1);
  font-style: var(--em-font-style);
  padding: var(--space-2);
  text-align: end;
  color: var(--text-soft);
}

.TimeGridViewHeaderDayName {
  font-size: var(--font-size-2);
  color: var(--text-soft);
  line-height: 1;
}

.TimeGridViewHeaderDayNumber {
  font-size: var(--font-size-5);
  color: var(--text-strong);
  font-weight: var(--font-weight-3);
  line-height: 1;
}

.TimeGridViewBody {
  flex: 1;
  border-top: 1px solid var(--border-color);
  overflow-y: auto;
}

.TimeGridViewScrollableContent {
  display: flex;
  height: calc(var(--hour-height) * 24);
  position: relative;
}

.TimeGridViewTimeAxis {
  display: flex;
  flex-direction: column;
  width: var(--fixed-cell-width);
}

.TimeGridViewTimeAxisCell {
  height: calc(100% / 24);
  line-height: calc(100% / 24);
  border-right: 1px solid var(--border-color);
  padding-inline: var(--space-2);
  text-align: end;
}

.TimeGridViewTimeAxisText:not(:empty) {
  font-size: var(--font-size-1);
  line-height: calc(100% / 24);
  color: var(--text-soft);
  white-space: nowrap;
}

.TimeGridViewTimeAxisCell:not(:first-child)::after {
  content: '';
  position: absolute;
  left: var(--fixed-cell-width);
  right: 0;
  border-bottom: 1px solid var(--border-color);
  top: calc(var(--hour) * var(--hour-height));
  z-index: 1;
}

.TimeGridViewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 100%;

  > *:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

.TimeGridViewColumn {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.TimeGridViewColumn[data-weekend],
.TimeGridViewAllDayEventsCell[data-weekend] {
  background: var(--weekend-background);
}

.TimeGridViewEvent {
  position: absolute;
  left: 2px;
  right: 2px;
  top: var(--y-position);
  bottom: calc(100% - var(--y-position) - var(--height));
  z-index: 2;
  border-radius: var(--radius-4);
  padding: var(--space-1);
  font-size: 10px;
  background-color: var(--primary-3);
  color: #34317c;
}
