@import '../styles/tokens.css';

.WeekViewContainer {
  --weekend-background: var(--mauve-1);
  --text-strong: var(--mauve-9);
  --text-soft: var(--mauve-5);
  --border-color: var(--mauve-2);
  --fixed-cell-width: 68px;
  --hour-height: 46px;
}

.mode-dark .WeekViewContainer {
  --weekend-background: var(--mauve-9);
  --text-strong: var(--mauve-5);
  --text-soft: var(--mauve-2);
}

.WeekViewContainer {
  display: flex;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
}

.WeekViewRoot {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.WeekViewHeader {
  display: flex;
  flex-direction: column;
}

.WeekViewGridRow {
  display: grid;
  grid-template-columns: var(--fixed-cell-width) repeat(auto-fit, minmax(0, 1fr));
  width: 100%;
}

.WeekViewHeaderRow {
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
  border-bottom: 1px solid var(--border-color);
}

.WeekViewAllDayEventsRow {
  overflow-y: scroll;
  scrollbar-color: var(--weekend-background) var(--weekend-background);
  max-height: 84px;

  > *:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

/* Webkit (Chrome, Safari, Edge) */
.WeekViewHeaderRow::-webkit-scrollbar {
  background: transparent;
}
.WeekViewAllDayEventsRow::-webkit-scrollbar {
  background: var(--weekend-background);
}

.WeekViewHeaderCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2);
  padding: 10px;
}

.WeekViewAllDayEventsHeaderCell {
  font-size: var(--font-size-1);
  font-style: var(--em-font-style);
  padding: var(--space-2) 0;
  text-align: center;
  color: var(--text-soft);
}

.WeekViewHeaderDayName {
  font-size: var(--font-size-2);
  color: var(--text-soft);
  line-height: 1;
}

.WeekViewHeaderDayNumber {
  font-size: var(--font-size-6);
  color: var(--text-strong);
  font-weight: var(--font-weight-3);
  line-height: 1;
}

.WeekViewBody {
  flex: 1;
  border-top: 1px solid var(--border-color);
  overflow-y: auto;
}

.WeekViewScrollableContent {
  display: flex;
  height: calc(var(--hour-height) * 24);
  position: relative;
}

.WeekViewTimeAxis {
  display: flex;
  flex-direction: column;
}

.WeekViewTimeAxisCell {
  width: var(--fixed-cell-width);
  height: calc(100% / 24);
  line-height: calc(100% / 24);
  border-right: 1px solid var(--border-color);
  padding-inline: var(--space-2);
  text-align: end;
}

.WeekViewTimeAxisText:not(:empty) {
  font-size: var(--font-size-1);
  line-height: calc(100% / 24);
  color: var(--text-soft);
  white-space: nowrap;
}

.WeekViewTimeAxisCell:not(:first-child)::after {
  content: '';
  position: absolute;
  left: var(--fixed-cell-width);
  right: 0;
  border-bottom: 1px solid var(--border-color);
  top: calc(var(--hour) * var(--hour-height));
  z-index: 1;
}

.WeekViewGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  width: 100%;

  > *:not(:last-child) {
    border-right: 1px solid var(--border-color);
  }
}

.WeekViewColumn {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.WeekViewColumn[data-weekend],
.WeekViewAllDayEventsCell[data-weekend] {
  background: var(--weekend-background);
}

.WeekViewEvent {
  position: absolute;
  left: 2px;
  right: 2px;
  top: var(--y-position);
  bottom: calc(100% - var(--y-position) - var(--height));
  z-index: 2;
  border-radius: var(--radius-4);
  padding: var(--space-1);
  font-size: 10px;
  background-color: var(--primary-3);
  color: #34317c;
}
