@import '../styles/colors.css';
@import '../styles/tokens.css';
@import '../styles/utils.css';

.EventCalendarRoot {
  width: 100%;
  display: flex;
  gap: var(--space-4);
  height: 100%;
}

.EventCalendarSidePanel {
  width: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--space-4) 0 var(--space-4) var(--space-4);
}

.EventCalendarMainPanel {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  padding: var(--space-4) var(--space-4) var(--space-4) 0;
}

.EventCalendarMainPanel.StretchView {
  max-height: 100%;
  height: 100dvh;
  height: 100vh;
}

.EventCalendarContent {
  display: flex;
  flex: 1;
  overflow: auto;
  max-height: fit-content;
}

.EventCalendarContent.StretchView {
  max-height: none;
}

.EventCalendarMonthCalendarPlaceholder {
  background-color: var(--gray-2);
  height: 220px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-6);
}
