@import '../styles/colors.css';
@import '../styles/tokens.css';
@import '../styles/utils.css';

.EventCalendarRoot {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr;
  gap: var(--space-4);
  height: 100%;
}

.EventCalendarSidePanel {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.EventCalendarMainPanel {
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  flex-direction: column;
  gap: var(--space-4);
  min-height: 0;
}

.EventCalendarMainPanel.StretchView {
  max-height: 100%;
  overflow: hidden;
}

.EventCalendarContent {
  display: flex;
  flex: 1;
  overflow: auto;
  max-height: fit-content;
}

.EventCalendarContent.StretchView {
  max-height: none;
}
.EventCalendarContent.FullWidth {
  grid-column: 1 / -1;
}

.EventCalendarMonthCalendarPlaceholder {
  background-color: var(--gray-2);
  height: 220px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-6);
}
