
 .age {
     color: darkblue;
 }
 .shine {
     background: beige;
 }

 .common {
     background: aquamarine;
 }
 .unknown {
     background: coral;
 }
 .border {
     border: 1px solid orangered;
 }
 #root {
     top:0;
     left: 0;
     min-width: 100%;
     height: 100%;
     display: flex;
     position: absolute;
     flex-direction: column;
 }

 /* highlight first and last row in rendering zone -> useful for Debugging virtualization */

 .demo-rendering .rendering-zone {
     background: #e6db74  !important;
 }
 .demo-rendering .rendering-zone .MuiDataGrid-row:first-child {
     background: #c696f1 !important;
 }
 .demo-rendering .rendering-zone .MuiDataGrid-row:last-child {
     background: #f17f7f !important;
 }

 .overlay.custom-overlay {
     background: #ffffff61;
 }

 .material-grid.grid-root .footer.my-custom-footer {
     justify-content: flex-end;
     padding: 10px 0;
 }
 .my-custom-pagination {
     align-items: center;
     display: flex;
 }
 .custom-header {
     display: flex;
     justify-content: flex-end;
     padding: 10px 0;
 }

 .grid-container {
    padding: 10px;
    display: flex;
    flex-grow: 1;
 }
