 .age {
     color: darkblue;
 }
 .shine {
     background: beige;
 }

 .common {
     background: aquamarine;
 }
 .unknown {
     background: coral;
 }
 #root {
     top:0;
     left: 0;
     min-width: 100%;
     min-height: 100%;
     display: flex;
     position: absolute;
     flex-direction: column;
 }

 /* highlight first and last row in rendering zone -> useful for Debugging virtualisation */
 /*
 .rendering-zone .material-row:first-child {
     background: blueviolet !important;
 }
 .rendering-zone .material-row:last-child {
     background: red !important;
 }
  */