
 .age {
     color: darkblue;
 }
 .shine {
     background: beige;
 }

 .common {
     background: aquamarine;
 }
 .unknown {
     background: coral;
 }
 .border {
     border: 1px solid orangered;
 }
 #root {
     top:0;
     left: 0;
     min-width: 100%;
     min-height: 100%;
     display: flex;
     position: absolute;
     flex-direction: column;
 }

 /* highlight first and last row in rendering zone -> useful for Debugging virtualization */

 /*.rendering-zone .material-row:first-child {*/
 /*    background: blueviolet !important;*/
 /*}*/
 /*.rendering-zone .material-row:last-child {*/
 /*    background: red !important;*/
 /*}*/

 .overlay.custom-overlay {
     background: #ffffff61;
 }

 .material-grid.grid-root .footer.my-custom-footer {
     justify-content: flex-end;
     padding: 10px 0;
 }
 .my-custom-pagination {
     align-items: center;
     display: flex;
 }
 .custom-header {
     display: flex;
     justify-content: flex-end;
     padding: 10px 0;
 }

 .grid-container {
    padding: 10px;
    display: flex;
    flex-grow: 1;
 }