/* Tokens that don't depend on the color scheme */

.mui-x-scheduler {
  --gray-1: var(--mauve-1);
  --gray-2: var(--mauve-2);
  --gray-2-rgb: var(--mauve-2-rgb);
  --gray-3: var(--mauve-3);
  --gray-4: var(--mauve-4);
  --gray-4-rgb: var(--mauve-4-rgb);
  --gray-5: var(--mauve-5);
  --gray-6: var(--mauve-6);
  --gray-7: var(--mauve-7);
  --gray-8: var(--mauve-8);
  --gray-9: var(--mauve-9);
  --gray-10: var(--mauve-10);
  --gray-11: var(--mauve-11);
  --gray-12: var(--mauve-12);

  --primary-1: var(--violet-1);
  --primary-2: var(--violet-2);
  --primary-3: var(--violet-3);
  --primary-4: var(--violet-4);
  --primary-4-rgb: var(--violet-4-rgb);
  --primary-5: var(--violet-5);
  --primary-6: var(--violet-6);
  --primary-7: var(--violet-7);
  --primary-8: var(--violet-8);
  --primary-9: var(--violet-9);
  --primary-10: var(--violet-10);
  --primary-11: var(--violet-11);
  --primary-12: var(--violet-12);

  --secondary-1: var(--cyan-1);
  --secondary-2: var(--cyan-2);
  --secondary-3: var(--cyan-3);
  --secondary-4: var(--cyan-4);
  --secondary-5: var(--cyan-5);
  --secondary-6: var(--cyan-6);
  --secondary-7: var(--cyan-7);
  --secondary-8: var(--cyan-8);
  --secondary-9: var(--cyan-9);
  --secondary-10: var(--cyan-10);
  --secondary-11: var(--cyan-11);
  --secondary-12: var(--cyan-12);

  --success-1: var(--jade-1);
  --success-2: var(--jade-2);
  --success-3: var(--jade-3);
  --success-4: var(--jade-4);
  --success-5: var(--jade-5);
  --success-6: var(--jade-6);
  --success-7: var(--jade-7);
  --success-8: var(--jade-8);
  --success-9: var(--jade-9);
  --success-10: var(--jade-10);
  --success-11: var(--jade-11);
  --success-12: var(--jade-12);

  --error-1: var(--red-1);
  --error-2: var(--red-2);
  --error-2-rgba-20: rgb(var(--red-2-rgb), 0.2);
  --error-3: var(--red-3);
  --error-4: var(--red-4);
  --error-5: var(--red-5);
  --error-6: var(--red-6);
  --error-7: var(--red-7);
  --error-8: var(--red-8);
  --error-9: var(--red-9);
  --error-10: var(--red-10);
  --error-11: var(--red-11);
  --error-12: var(--red-12);

  /* Scales */
  --font-family-1: 'Instrument Sans', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  --font-family-2: -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  --font-family-3:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;

  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-6: 26px;
  --font-size-7: 36px;
  --font-size-8: 46px;
  --font-size-9: 58px;

  --line-height-1: 18px;
  --line-height-2: 20px;
  --line-height-3: 22px;
  --line-height-4: 24px;
  --line-height-5: 25px;
  --line-height-6: 31px;
  --line-height-7: 38px;
  --line-height-8: 48px;
  --line-height-9: 56px;

  --letter-spacing-1: 0.025em;
  --letter-spacing-2: 0.02em;
  --letter-spacing-3: 0.016em;
  --letter-spacing-4: 0.0125em;
  --letter-spacing-5: 0.0125em;
  --letter-spacing-6: -0.016em;
  --letter-spacing-7: -0.021em;
  --letter-spacing-8: -0.038em;
  --letter-spacing-9: -0.036em;

  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;

  --space-05: 2px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 40px;
  --space-9: 48px;
  --space-10: 64px;

  --radius-1: 2px;
  --radius-2: 3px;
  --radius-3: 4px;
  --radius-4: 6px;
  --radius-5: 8px;
  --radius-6: 12px;
  --radius-7: 16px;
  --radius-pill: 9999px;
  --radius-circle: 50%;

  --duration-1: 25ms;
  --duration-2: 50ms;
  --duration-3: 100ms;

  --shadow-1:
    0 1px 1px 0 hsl(0deg 0 0 / 0.05), 0 2px 1px -1px hsl(0deg 0 0 / 0.05),
    0 1px 3px 0 hsl(0deg 0 0 / 0.05);

  --shadow-4:
    0 1px 1px 0px hsl(var(--shadow-tint) / 5%), 0 1px 3px 0px hsl(var(--shadow-tint) / 5%),
    0 4px 8px 0px hsl(var(--shadow-tint) / 5%);

  --shadow-5:
    0 1px 1px 0px hsl(var(--shadow-tint) / 5%), 0 2px 6px -1px hsl(var(--shadow-tint) / 5%),
    0 6px 12px -3px hsl(var(--shadow-tint) / 5%), 0 8px 16px -4px hsl(var(--shadow-tint) / 5%);

  --shadow-6:
    0 1px 1px 0px hsl(var(--shadow-tint) / 5%), 0 2px 4px -1px hsl(var(--shadow-tint) / 5%),
    0 4px 8px -2px hsl(var(--shadow-tint) / 5%), 0 12px 32px -6px hsl(var(--shadow-tint) / 12%),
    0 20px 48px -10px hsl(var(--shadow-tint) / 5%);

  --shadow-9:
    hsl(var(--shadow-tint) / 15%) 0px 10px 32px, hsl(var(--shadow-black) / 5%) 0px 1px 1px,
    hsl(var(--shadow-tint) / 8%) 0px 4px 6px, hsl(var(--shadow-tint) / 10%) 0px 1px 1px,
    hsl(var(--shadow-tint) / 10%) 0 24px 68px;

  --cursor-button: default;
  --cursor-disabled: not-allowed;

  /* Outline */
  --outline-focus: 2px solid var(--violet-4);
  --outline-focus-offset: 2px;

  /* Interactive states */
  --interactive-hover-bg: var(--gray-2);
  --interactive-active-bg:
    linear-gradient(to bottom, rgb(var(--gray-4-rgb), 0.7), rgb(var(--gray-4-rgb), 0.7)),
    linear-gradient(to bottom, rgb(var(--gray-2-rgb), 0.3), rgb(var(--gray-2-rgb), 0.3));
  --interactive-selected-bg: var(--primary-3);
  --interactive-selected-text: var(--primary-12);
  --interactive-selected-hover-bg: var(--primary-4);
  --interactive-focused-bg: var(--gray-3);
  --interactive-focused-hover-bg: rgb(var(--gray-2-rgb) . 0.8);
  --interactive-active-focused-bg:
    linear-gradient(to bottom, rgb(var(--primary-4-rgb), 0.8), rgb(var(--primary-4-rgb), 0.8)),
    linear-gradient(to bottom, rgb(var(--gray-2-rgb), 0.4), rgb(var(--gray-2-rgb), 0.4));
  --interactive-selected-focused-bg: var(--primary-4);
  --interactive-selected-hover-focused-bg: var(--primary-5);

  /* Text colors */
  --default-text-color: var(--gray-12);
  --secondary-text-color: var(--gray-11);
  --disabled-text-color: var(--gray-8);
  color: var(--default-text-color);

  /* Font */

  --default-font-family: var(--font-family-1);
  --default-font-size: var(--font-size-3);
  --default-font-style: normal;
  --default-line-height: 1.5;
  --default-letter-spacing: 0.016em;
  --default-font-weight: var(--font-weight-1);

  --heading-font-family: var(--default-font-family);
  --heading-font-size-adjust: 1;
  --heading-font-style: normal;
  --heading-letter-spacing: 0em;

  --strong-font-family: var(--default-font-family);
  --strong-font-size-adjust: 1;
  --strong-font-style: inherit;
  --strong-font-weight: var(--font-weight-3);
  --strong-letter-spacing: 0em;

  --em-font-family: 'Times New Roman', 'Times', serif;
  --em-font-size-adjust: 1.18;
  --em-font-style: italic;
  --em-font-weight: inherit;
  --em-letter-spacing: -0.025em;

  --code-font-family:
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --code-font-size-adjust: 0.84;
  --code-font-style: normal;
  --code-font-weight: inherit;
  --code-letter-spacing: -0.007em;
  --code-padding-top: 0.12em;
  --code-padding-bottom: 0.12em;
  --code-padding-left: 0.24em;
  --code-padding-right: 0.24em;

  /* Mode-light */
  --mauve-1: #fdfcfd;
  --mauve-2: #faf9fb;
  --mauve-2-rgb: 250, 249, 251;
  --mauve-3: #f2eff3;
  --mauve-4: #eae7ec;
  --mauve-4-rgb: 234, 231, 236;
  --mauve-5: #e3dfe6;
  --mauve-6: #dbd8e0;
  --mauve-7: #d0cdd7;
  --mauve-8: #bcbac7;
  --mauve-9: #8e8c99;
  --mauve-10: #84828e;
  --mauve-11: #65636d;
  --mauve-12: #211f26;

  --mauve-12-1: #1a191b;

  --violet-1: #fdfcfe;
  --violet-2: #faf8ff;
  --violet-3: #f4f0fe;
  --violet-4: #ebe4ff;
  --violet-4-rgb: 235, 228, 255;
  --violet-5: #e1d9ff;
  --violet-6: #d4cafe;
  --violet-7: #c2b5f5;
  --violet-8: #aa99ec;
  --violet-9: #6e56cf;
  --violet-10: #654dc4;
  --violet-11: #3d317c;
  --violet-12: #2f265f;

  --indigo-1: #fdfdfe;
  --indigo-2: #f7f9ff;
  --indigo-3: #edf2fe;
  --indigo-4: #e1e9ff;
  --indigo-4-rgb: 225, 233, 255;
  --indigo-5: #d2deff;
  --indigo-6: #c1d0ff;
  --indigo-7: #97abed;
  --indigo-8: #6c88e5;
  --indigo-9: #3e63dd;
  --indigo-10: #2b4fca;
  --indigo-11: #1f3a93;
  --indigo-12: #1f2d5c;

  --blue-1: #fafdfe;
  --blue-2: #edf6fd;
  --blue-3: #daedfb;
  --blue-4: #c8e4f9;
  --blue-4-rgb: 200, 2228, 249;
  --blue-5: #acd6f6;
  --blue-6: #88c4f2;
  --blue-7: #63b1ee;
  --blue-8: #2794e7;
  --blue-9: #1071bc;
  --blue-10: #0f66a9;
  --blue-11: #0b4f83;
  --blue-12: #093353;

  --cyan-1: #fafdfe;
  --cyan-2: #f2fafb;
  --cyan-3: #def7f9;
  --cyan-4: #caf1f6;
  --cyan-4-rgb: 202, 241, 246;
  --cyan-5: #b5e9f0;
  --cyan-6: #9ddde7;
  --cyan-7: #7dcedc;
  --cyan-8: #3db9cf;
  --cyan-9: #00a2c7;
  --cyan-10: #107d98;
  --cyan-11: #135a6c;
  --cyan-12: #0d3c48;

  --jade-1: #fbfefd;
  --jade-2: #f4fbf7;
  --jade-3: #e6f7ed;
  --jade-4: #d6f1e3;
  --jade-4-rgb: 214, 241, 227;
  --jade-5: #c3e9d7;
  --jade-6: #acdec8;
  --jade-7: #8bceb6;
  --jade-8: #56ba9f;
  --jade-9: #29a383;
  --jade-10: #26997b;
  --jade-11: #208368;
  --jade-12: #1d3b31;

  --lime-1: #fdfdf7;
  --lime-2: #f8f9e7;
  --lime-3: #f4f4d6;
  --lime-4: #f0f0c6;
  --lime-4-rgb: 240, 240, 198;
  --lime-5: #e9eaae;
  --lime-6: #e1e2a2;
  --lime-7: #d5d694;
  --lime-8: #c8c97e;
  --lime-9: #b4b573;
  --lime-10: #9fa055;
  --lime-11: #74753e;
  --lime-12: #434323;

  --yellow-1: #fffdf5;
  --yellow-2: #fff9e5;
  --yellow-3: #fff5d6;
  --yellow-4: #fff1c2;
  --yellow-4-rgb: 255, 241, 194;
  --yellow-5: #ffeeb8;
  --yellow-6: #ffe89e;
  --yellow-7: #ffe07a;
  --yellow-8: #ffd95c;
  --yellow-9: #ffcd29;
  --yellow-10: #e5ac00;
  --yellow-11: #996600;
  --yellow-12: #5c3d00;

  --orange-1: #fffcfa;
  --orange-2: #fff5ed;
  --orange-3: #ffe8d6;
  --orange-4: #ffdfb5;
  --orange-4-rgb: 255, 213, 181;
  --orange-5: #ffd19a;
  --orange-6: #ffb882;
  --orange-7: #fdaa6a;
  --orange-8: #f89549;
  --orange-9: #f37019;
  --orange-10: #ef5f00;
  --orange-11: #cc4e00;
  --orange-12: #582d1d;

  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-4-rgb: 255, 219, 220;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e5484d;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #641723;

  --pink-1: #fefbfd;
  --pink-2: #fcedf6;
  --pink-3: #fbe0f0;
  --pink-4: #f9d2e9;
  --pink-4-rgb: 249, 201, 233;
  --pink-5: #f7c5e3;
  --pink-6: #f5b7dc;
  --pink-7: #f3aad6;
  --pink-8: #ef8bc7;
  --pink-9: #eb73bb;
  --pink-10: #e548a6;
  --pink-11: #ce1d87;
  --pink-12: #701050;

  /* Aliases */
  --border-color: var(--mauve-3);
  --weekend-background: var(--mauve-2);

  --surface: white;
  --panel: white;
  --shadow-black: 0 0% 0%;
  --shadow-tint: 215 22% 17%;

  --code-background: var(--surface);
  --code-color: var(--violet-9);
}

body .mui-x-scheduler {
  background-color: var(--surface);
}

.mode-dark .mui-x-scheduler {
  --mauve-1: #121113;
  --mauve-2: #1a191b;
  --mauve-2-rgb: 26, 25, 27;
  --mauve-3: #232225;
  --mauve-4: #2b292d;
  --mauve-4-rgb: 43, 41, 45;
  --mauve-5: #323035;
  --mauve-6: #3c393f;
  --mauve-7: #49474e;
  --mauve-8: #625f69;
  --mauve-9: #6f6d78;
  --mauve-10: #7c7a85;
  --mauve-11: #b5b2bc;
  --mauve-12: #eeeef0;

  --violet-1: #14121f;
  --violet-2: #1b1525;
  --violet-3: #291f43;
  --violet-4: #33255b;
  --violet-4-rgb: 51, 37, 91;
  --violet-5: #3c2e69;
  --violet-6: #473876;
  --violet-7: #56468b;
  --violet-8: #6958ad;
  --violet-9: #6e56cf;
  --violet-10: #7d66d9;
  --violet-11: #baa7ff;
  --violet-12: #e2ddfe;

  --indigo-1: #11131f;
  --indigo-2: #141726;
  --indigo-3: #182449;
  --indigo-4: #1d2e62;
  --indigo-4-rgb: 29, 46, 98;
  --indigo-5: #253974;
  --indigo-6: #304384;
  --indigo-7: #3a4f97;
  --indigo-8: #435db1;
  --indigo-9: #3e63dd;
  --indigo-10: #5472e4;
  --indigo-11: #9eb1ff;
  --indigo-12: #d6e1ff;

  --blue-1: #01121e;
  --blue-2: #011727;
  --blue-3: #02233b;
  --blue-4: #072840;
  --blue-4-rgb: 7, 40, 64;
  --blue-5: #093353;
  --blue-6: #093e67;
  --blue-7: #0b4f83;
  --blue-8: #0f66a9;
  --blue-9: #1071bc;
  --blue-10: #2794e7;
  --blue-11: #47a3eb;
  --blue-12: #acd6f6;

  --cyan-1: #0b161a;
  --cyan-2: #101b20;
  --cyan-3: #082c36;
  --cyan-4: #003848;
  --cyan-4-rgb: 0, 56, 72;
  --cyan-5: #004558;
  --cyan-6: #045468;
  --cyan-7: #12677e;
  --cyan-8: #11809c;
  --cyan-9: #00a2c7;
  --cyan-10: #23afd0;
  --cyan-11: #4ccce6;
  --cyan-12: #b6ecf7;

  --jade-1: #0d1512;
  --jade-2: #121c18;
  --jade-3: #0f2e22;
  --jade-4: #0b3b2c;
  --jade-4-rgb: 11, 59, 44;
  --jade-5: #114837;
  --jade-6: #1b5745;
  --jade-7: #246854;
  --jade-8: #2a7e68;
  --jade-9: #29a383;
  --jade-10: #27b08b;
  --jade-11: #1fd8a4;
  --jade-12: #adf0d4;

  --lime-1: #14140b;
  --lime-2: #1b1b0e;
  --lime-3: #222211;
  --lime-4: #282815;
  --lime-4-rgb: 40, 40, 21;
  --lime-5: #36361c;
  --lime-6: #4a4a26;
  --lime-7: #646434;
  --lime-8: #77783f;
  --lime-9: #95964f;
  --lime-10: #afb069;
  --lime-11: #cbcc85;
  --lime-12: #dddeb0;

  --yellow-1: #1f1400;
  --yellow-2: #291b00;
  --yellow-3: #332200;
  --yellow-4: #3d2900;
  --yellow-4-rgb: 61, 41, 0;
  --yellow-5: #523600;
  --yellow-6: #704b00;
  --yellow-7: #996600;
  --yellow-8: #cc9900;
  --yellow-9: #ffc000;
  --yellow-10: #ffcd29;
  --yellow-11: #ffd95c;
  --yellow-12: #fff1c2;

  --orange-1: #17120e;
  --orange-2: #1e160f;
  --orange-3: #331e0b;
  --orange-4: #462100;
  --orange-4-rgb: 70, 33, 0;
  --orange-5: #562800;
  --orange-6: #66350c;
  --orange-7: #7e451d;
  --orange-8: #a35829;
  --orange-9: #f76b15;
  --orange-10: #ff801f;
  --orange-11: #ffa057;
  --orange-12: #ffe0c2;

  --red-1: #191111;
  --red-2: #201314;
  --red-3: #3b1219;
  --red-4: #500f1c;
  --red-4-rgb: 80, 15, 28;
  --red-5: #611623;
  --red-6: #72232d;
  --red-7: #8c333a;
  --red-8: #b54548;
  --red-9: #e5484d;
  --red-10: #ec5d5e;
  --red-11: #ff9592;
  --red-12: #ffd1d9;

  --pink-1: #1f0416;
  --pink-2: #2d0620;
  --pink-3: #43052e;
  --pink-4: #55063b;
  --pink-4-rgb: 85, 6, 59;
  --pink-5: #701050;
  --pink-6: #861360;
  --pink-7: #aa1870;
  --pink-8: #ce1d87;
  --pink-9: #e543a4;
  --pink-10: #eb73bb;
  --pink-11: #f5b7dc;
  --pink-12: #f9d2e9;

  /* Aliases */
  --border-color: var(--mauve-4);
  --weekend-background: var(--mauve-2);

  --surface: var(--mauve-1);
  --panel: var(--mauve-1);
  --shadow-tint: 0 0% 0%;

  --code-background: var(--surface);
  --code-color: var(--violet-9);
}
