@import './styles/index.css';

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.mui,
.mui * {
  font-family: var(--default-font-family);
}

.mui button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
}

.mui input,
.mui textarea {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  resize: none;
}
