@import './styles/index.css';
@import './styles/colors.css';
@import './styles/tokens.css';

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.mui-x-scheduler,
.mui-x-scheduler * {
  font-family: var(--default-font-family);
}

.mui-x-scheduler button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
}

.mui-x-scheduler input,
.mui-x-scheduler textarea {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
  resize: none;
}

.mui-x-scheduler ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
