@import '../../../styles/colors.css';
@import '../../../styles/tokens.css';

.EventDragPreview {
  padding: var(--space-1) var(--space-2);
  border-radius: var(--space-1);
  font-size: var(--font-size-1);
  background-color: var(--event-color-8);
  color: var(--event-color-1);
}
