.AgendaEventCard--compact {
  container-type: inline-size;
  display: flex;
  align-items: flex-start;
  gap: var(--space-3);
  flex-wrap: nowrap;
  cursor: pointer;
  border-radius: var(--radius-3);
  padding: var(--space-2) var(--space-2);
}

.AgendaEventCard--compact:active {
  background-color: var(--interactive-active-bg);
}

.AgendaEventCard--compact:hover {
  background-color: var(--interactive-hover-bg);
}

.EventCalendarResourceLegendColor {
  margin: calc((var(--line-height-1) - 10px) / 2) 0;
}

.EventContent {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: var(--space-1);
  flex-grow: 1;
}

@container (width < 300px) {
  .EventContent {
    flex-direction: column;
    align-items: flex-end;
  }
  .AgendaEventTime {
    order: 2;
  }
  .AgendaEventTitle {
    order: 1;
  }
}

.AgendaEventTime {
  --number-of-lines: 1;
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-1);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  flex-basis: 40%;
  max-width: 150px;
}

.AgendaEventTitle {
  --number-of-lines: 1;

  font-weight: var(--font-weight-2);
  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
}
