.PreferencesMenuContainer {
  grid-column: 3;
  justify-self: end;
}

.mui-x-scheduler .Button.PreferencesMenuButton {
  padding: var(--space-1);
}

.mui-x-scheduler .PreferencesMenuContainer .CheckboxItem[data-checked] {
  background: var(--surface);
}

.mui-x-scheduler .PreferencesMenuContainer .CheckboxItem[data-checked]:hover {
  background: var(--interactive-hover-bg);
}

.SettingsIcon {
  margin: var(--space-05);
}
