.PreferencesMenuContainer {
  grid-column: 3;
  justify-self: end;
}

.mui-x-scheduler .Button.PreferencesMenuButton {
  padding: var(--space-2);
}

.PreferencesMenuPositioner {
  z-index: 3;
}

.PreferencesMenuPopup {
  min-width: 170px;
  padding: var(--space-2);
  border-radius: var(--radius-4);
  background-color: var(--surface);
  outline: 1px solid var(--border-color);
  box-shadow: var(--shadow-5);
}

.PreferencesMenuCheckboxItem {
  background: var(--surface);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.PreferencesMenuCheckboxIndicator {
  display: flex;
}

/* Hovered */
.mui-x-scheduler .Button.PreferencesMenuButton:hover,
.PreferencesMenuCheckboxItem:hover {
  background: var(--interactive-hover-bg);
}

/* Active */
.mui-x-scheduler .Button.PreferencesMenuButton:active,
.PreferencesMenuCheckboxItem:active {
  background: var(--interactive-active-bg);
}

/* Selected */
.mui-x-scheduler .Button.PreferencesMenuButton[data-pressed],
.PreferencesMenuCheckboxItem[data-checked] {
  background: var(--interactive-selected-bg);
  color: var(--interactive-selected-text);
}

/* Selected and hovered */
.mui-x-scheduler .Button.PreferencesMenuButton[data-pressed]:hover,
.PreferencesMenuCheckboxItem[data-checked]:hover {
  background: var(--interactive-selected-hover-bg);
}

/* Focused */
.mui-x-scheduler .Button.PreferencesMenuButton:focus-visible,
.PreferencesMenuCheckboxItem:focus-visible {
  background: var(--interactive-focused-bg);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Focused and hovered */
.mui-x-scheduler .Button.PreferencesMenuButton:focus-visible:hover,
.PreferencesMenuCheckboxItem:focus-visible:hover {
  background: var(--interactive-focused-hover-bg);
}

/* Active and focused */
.mui-x-scheduler .Button.PreferencesMenuButton:active:focus-visible,
.PreferencesMenuCheckboxItem:active:focus-visible {
  background: var(--interactive-active-focused-bg);
}

/* Selected and focused */
.mui-x-scheduler .Button.PreferencesMenuButton[data-pressed]:focus-visible,
.PreferencesMenuCheckboxItem[data-checked]:focus-visible {
  background: var(--interactive-selected-focused-bg);
  outline: var(--outline-focus);
  outline-offset: var(--outline-focus-offset);
}

/* Selected and hovered and focused */
.mui-x-scheduler .Button.PreferencesMenuButton[data-pressed]:focus-visible:hover,
.PreferencesMenuCheckboxItem[data-checked]:focus-visible:hover {
  background: var(--interactive-selected-hover-focused-bg);
}
