.PreferencesMenuContainer {
  grid-column: 3;
  justify-self: end;
}

.mui-x-scheduler .Button.PreferencesMenuButton {
  padding: var(--space-1);
}

.mui-x-scheduler .PreferencesMenuContainer .CheckboxItem[data-checked],
.mui-x-scheduler .PreferencesMenuContainer .RadioItem[data-checked] {
  background: var(--surface);
}

.mui-x-scheduler .PreferencesMenuContainer .CheckboxItem[data-checked]:hover,
.mui-x-scheduler .PreferencesMenuContainer .RadioItem[data-checked]:hover {
  background: var(--interactive-hover-bg);
}

.SettingsIcon {
  margin: var(--space-05);
}

.RadioItemIndicator {
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-unchecked] {
    display: none;
  }

  &::before {
    content: '';
    border-radius: 50%;
    width: var(--space-2);
    height: var(--space-2);
    background-color: var(--primary-9);
  }
}
