.super-app-theme--header {
    background: rgba(255, 7, 0, 0.55);
    color: #000000;
    font-weight: 600;
}

.super-app-theme--cell {
    background: rgba(224, 183, 60, 0.55);
    color: #1a3e72;
    font-weight: 600;
}

.super-app.negative {
    background: rgba(157, 255, 118, 0.49);
    color: #1a3e72;
    font-weight: 600;
}
.super-app.positive {
    background: #d47483;
    color: #1a3e72;
    font-weight: 600;
}
.demo.MuiGrid.grid-root.x-grid {
    margin: 10px 0;
}
.demo .highlight {
    color: #008508;
}