@import '../../../styles/tokens.css';

.PopoverPositioner {
  max-width: 460px;
  width: 100%;
  background-color: var(--panel);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  overflow: hidden;
  z-index: 1300;
  box-shadow: var(--shadow-4);
}

.EventPopoverHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-3);
  background-color: var(--event-color-3);
  padding: var(--space-6);
}

.mui-x-scheduler .EventPopoverCloseButton {
  padding: var(--space-1);
  display: flex;
  border-radius: var(--radius-4);
  background-color: var(--event-color-3);
}

.mui-x-scheduler .EventPopoverCloseButton:hover {
  background-color: var(--event-color-4);
}

.mui-x-scheduler .EventPopoverCloseButton:active {
  background-color: var(--event-color-5);
}

.mui-x-scheduler .EventPopoverCloseButton:focus-visible {
  outline: 2px solid var(--event-color-5);
  outline-offset: var(--outline-focus-offset);
}

.mui-x-scheduler .PopoverPositioner .PrimaryButton:focus-visible,
.mui-x-scheduler .PopoverPositioner .SecondaryErrorButton:focus-visible {
  outline: 2px solid var(--event-color-5);
}

.EventPopoverTitle {
  flex: 1;
}

.mui-x-scheduler .EventPopoverTitleInput {
  padding: var(--space-2) var(--space-3);
  border-radius: var(--radius-4);
  color: var(--event-color-12);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  font-weight: var(--font-weight-2);
  background-color: var(--event-color-4);
}

.EventPopoverMainContent {
  padding: var(--space-6);
}

.EventPopoverMainContent > :not(:first-child):not(.EventPopoverSeparator) {
  padding-block-start: var(--space-5);
}

.EventPopoverMainContent > :not(:last-child):not(.EventPopoverSeparator) {
  padding-block-end: var(--space-5);
}

.EventPopoverSeparator {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
}

.EventPopoverFormLabel {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
  color: var(--secondary-text-color);
  font-size: var(--font-size-1);
}

.mui-x-scheduler .EventPopoverInput,
.mui-x-scheduler .EventPopoverTextarea {
  padding: var(--space-2) var(--space-3);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-4);
  color: var(--default-text-color);
  font-size: var(--font-size-2);
  line-height: var(--line-height-1);
}

.mui-x-scheduler .EventPopoverInput {
  max-height: var(--space-7);
}

.mui-x-scheduler .EventPopoverInput:disabled {
  color: var(--disabled-text-color);
}

.mui-x-scheduler .EventPopoverTitleInput:focus-visible {
  outline: 2px solid var(--event-color-5);
  outline-offset: var(--outline-focus-offset);
}

.mui-x-scheduler .EventPopoverInput:focus-visible,
.mui-x-scheduler .EventPopoverTextarea:focus-visible {
  outline: 2px solid var(--gray-3);
  outline-offset: var(--outline-focus-offset);
}

.EventPopoverDateTimeFields {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.EventPopoverDateTimeFieldsStartRow,
.EventPopoverDateTimeFieldsEndRow {
  display: flex;
  gap: var(--space-2);
}
.EventPopoverDateTimeFieldsStartRow > :first-child,
.EventPopoverDateTimeFieldsEndRow > :first-child {
  flex: 1.5 1 0%;
}

.EventPopoverDateTimeFieldsStartRow > :nth-child(2),
.EventPopoverDateTimeFieldsEndRow > :nth-child(2) {
  flex: 1 1 0%;
}

.EventPopoverRequiredFieldError {
  color: var(--error-9);
  font-size: var(--font-size-1);
  margin-block-start: var(--space-2);
}

.EventPopoverDateTimeFieldsError {
  color: var(--error-9);
  font-size: var(--font-size-1);
  grid-column: span 2;
}

.EventPopoverActions {
  display: flex;
  justify-content: space-between;
  padding: var(--space-4);
}

.AllDayCheckboxLabel {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  color: var(--secondary-text-color);
  font-size: var(--font-size-1);
}
.AllDayCheckboxRoot {
  box-sizing: border-box;
  display: flex;
  width: 1rem;
  height: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;

  &[data-unchecked] {
    border: 1px solid var(--gray-8);
    background-color: transparent;
  }

  &[data-checked] {
    background-color: var(--gray-12);
  }

  &:focus-visible {
    outline: 2px solid var(--primary-5);
    outline-offset: 2px;
  }
}

.AllDayCheckboxIndicator {
  display: flex;
  color: var(--gray-1);

  &[data-unchecked] {
    display: none;
  }
}

.AllDayCheckboxIcon {
  width: 0.8rem;
  height: 0.8rem;
}
