@import '../styles/colors.css';

.EventCalendarRoot {
  width: 100%;
  display: flex;
  gap: var(--space-4);
  max-height: 100vh;
  max-height: 100dvh;
}

.EventCalendarSidePanel {
  width: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.EventCalendarMainPanel {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.EventCalendarContent {
  display: flex;
  flex: 1;
  overflow: auto;
}

.EventCalendarMonthCalendarPlaceholder {
  background-color: var(--gray-2);
  height: 220px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-6);
}

.EventCalendarResourceLegend {
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
  gap: var(--space-1);
}

.EventCalendarResourceLegendItem {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.EventCalendarResourceLegendColor {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  flex-shrink: 0;
  background-color: var(--event-color-8);
}

.mode-dark .EventCalendarResourceLegendColor {
  background-color: var(--event-color-5);
}

.EventCalendarResourceLegendName {
  font-size: var(--font-size-2);
  color: var(--text-secondary);
}
