.EventCalendarRoot {
  width: 100%;
  border: 1px solid var(--gray-4);
  display: flex;
}

.EventCalendarSidePanel {
  width: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.EventCalendarMainPanel {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}

.EventCalendarToolbar {
  height: 72px;
  display: flex;
  align-items: center;
}

.EventCalendarMonthCalendarPlaceholder {
  background-color: var(--gray-2);
  height: 220px;
  width: 220px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-6);
}
